body#tinymce {
    background: url("../images/boardBg.jpg") !important;
    color: #fff !important;
}
body#tinymce a {
    color: #fff;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    color: #fff;
}
body#tinymce table td, body#tinymce table th {
    border: 1px solid #fff;
}
body#tinymce table td {
    color: #fff;
}
body#tinymce table th {
    color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
}
body#tinymce blockquote {
    border-left-color: #fff;
    color: #fff;
}
body#tinymce cite {
    color: #fff;
}