html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Titillium', sans-serif;
  font-weight: 400;
  color: #505050;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(83, 140, 51, 0.5);
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-size: 1.4rem;
}

body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 225px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(83, 140, 51, 0) 100%);
  pointer-events: none;
}

.page {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page:focus {
  outline: 0 !important;
  display: block !important;
}

img {
  max-width: 100%;
}

.label, label {
  white-space: normal;
  text-align: left;
  border-radius: 0;
  line-height: 34px;
  display: inline-block;
}

p, span, a, h2, h3, .jokeNick, .jokeText {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.dropdown-backdrop {
  display: none;
}

form, fieldset, button {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input, select, textarea {
  font-size: 1.3rem;
  font-family: 'Titillium', sans-serif;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  width: 100%;
  margin: 10px 0;
  table-layout: fixed;
  border-collapse: collapse;
}

table caption {
  font-family: 'Titillium SemiBold', sans-serif;
}

table th, table td {
  padding: 5px;
  border: 1px solid #538c33;
}

table th {
  background-color: #346817;
  color: #ffd200;
}

svg, button {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

a {
  display: inline-block;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  color: #538c33;
}

a:hover, a:focus {
  color: currentColor;
}

a:focus, a:visited, a:active {
  text-decoration: none;
  outline-width: 0 !important;
}

a[href^="mailto:"] {
  word-break: break-all;
  color: #505050;
}

a[href^="mailto:"] span {
  color: #505050;
}

a#main-menu, a#add-menu, a#link-content, a#search {
  display: inline;
}

.skip-links {
  position: absolute;
  top: 0;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  min-width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  font-family: 'Titillium SemiBold', sans-serif;
  left: 0;
  background-color: #505050;
  border: 2px solid #fff;
  color: #fff;
  opacity: 1;
  outline: none;
}

[data-whatinput='keyboard'] *:focus {
  outline: 2px solid #000 !important;
  outline-offset: 0 !important;
  display: inline-block;
  opacity: 1 !important;
}

[data-whatinput="keyboard"] .page:focus {
  outline: 0 !important;
}

[data-whatinput='keyboard'] input[type="radio"]:focus {
  outline: 2px solid #000 !important;
}

input[type="radio"]:focus {
  outline-color: #000;
}

a:focus, button:focus, .menu-top .navbar-toggl:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.butForm, button:not(#toolbar-search):not(.navbar-toggle), input[type="submit"], .button {
  font-family: 'Roboto Slab Bold', serif;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 7px 26px;
  text-align: center;
  border: 0;
  border-radius: 0;
  position: relative;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffd200;
  color: #538c33 !important;
  text-decoration: none !important;
}

.butForm svg, button:not(#toolbar-search):not(.navbar-toggle) svg, input[type="submit"] svg, .button svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #538c33;
}

.butForm.inverted, button:not(#toolbar-search):not(.navbar-toggle).inverted, input[type="submit"].inverted, .button.inverted {
  color: #ffd200 !important;
  text-decoration: none !important;
  background-color: #538c33;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.6);
}

.butForm.inverted svg, button:not(#toolbar-search):not(.navbar-toggle).inverted svg, input[type="submit"].inverted svg, .button.inverted svg {
  fill: #ffd200;
}

.butForm.inverted:hover, button:not(#toolbar-search):not(.navbar-toggle).inverted:hover, input[type="submit"].inverted:hover, .button.inverted:hover {
  background-color: #75ae55;
}

.butForm:hover, button:not(#toolbar-search):not(.navbar-toggle):hover, input[type="submit"]:hover, .button:hover {
  text-decoration: none;
  background-color: #fff422;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab Bold', serif;
  color: #346817;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 26px;
}

h3 {
  font-size: 2.1rem;
  line-height: 24px;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

div[aria-hidden="true"] {
  display: inline;
}

.main-text a {
  color: #538c33;
  text-decoration: underline;
}

.main-text a:hover, .main-text a:focus {
  text-decoration: none;
}

.page-content-mobile, a#top, #flashclock {
  display: none;
}

.files-header,
.gallery-header,
.subHead,
.main-header {
  display: block;
  text-align: center;
  position: relative;
  color: #346817;
  font-family: 'Roboto Slab Bold', sans-serif;
}

.files-header span,
.gallery-header span,
.subHead span,
.main-header span {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #fff;
  padding: 0 45px;
}

.files-header:before,
.gallery-header:before,
.subHead:before,
.main-header:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background-color: #538c33;
  top: 50%;
  transform: translateY(-50%);
}

.main-header, .subHead {
  font-size: 3.8rem !important;
  line-height: 42px !important;
}

.main-header {
  margin: 0 0 25px;
}

.subHead {
  margin: 0 0 15px;
}

.files-header,
.gallery-header,
.subHead {
  font-size: 2.2rem !important;
  line-height: 26px !important;
  margin: 0 0 30px;
}

.files-header:before,
.gallery-header:before,
.subHead:before {
  left: 0;
  transform: none;
}

input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea {
  color: #56684d;
  background-color: #fbfff8;
  border: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

input[type="text"],
input[type="search"],
input[type="password"] {
  height: 34px;
  padding: 0 11px;
  line-height: 34px;
}

textarea {
  resize: none;
  line-height: 18px;
  padding: 11px;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

.main {
  position: relative;
  background-color: #fff;
}

blockquote {
  padding: 0 0 0 10px;
  margin: 0;
  border-left: 3px solid #505050;
  font-size: 1.4rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menu-top__decoration {
    width: 132px;
    height: 48px;
  }
}

@media only screen and (min-width: 992px) {
  .bottom-holder {
    font-size: 0;
  }
  .page-content {
    margin-top: 45px;
  }
  .main {
    margin: 30px 0 0;
    padding: 0 25px 50px 15px;
    border: 5px solid #ffd200;
    border-left-width: 0;
    border-bottom-width: 0;
    position: relative;
  }
  .main:before, .main:after {
    content: '';
    display: block;
    position: absolute;
  }
  .main:before {
    width: calc(100% - 24px);
    background-color: #fff;
    height: 29px;
    border-top: 5px solid #ffd200;
    border-right: 5px solid #ffd200;
    left: 29px;
    top: -29px;
    right: 0;
  }
  .main:after {
    width: 5px;
    left: -5px;
    bottom: 0;
    height: 100%;
    background-color: #ffd200;
  }
  .main__decoration {
    position: absolute;
    top: -29px;
    left: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
  }
  .main__decoration:before, .main__decoration:after {
    content: '';
    display: block;
    position: absolute;
  }
  .main__decoration:before {
    box-sizing: content-box;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    left: 0;
    transform: translateX(-50%);
    top: -74px;
    border: 40px solid #fff;
    background: transparent;
  }
  .main__decoration:after {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    right: 0;
    top: -29px;
    border: 5px solid #ffd200;
  }
}

.main__object {
  position: absolute;
  right: -61px;
  bottom: -107px;
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 878px;
  }
}

@media only screen and (max-width: 1199px) {
  .files-header,
  .gallery-header,
  .subHead,
  .main-header {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }
  .top {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }
  .bottom-holder {
    padding: 0;
    width: calc(100% + 1px);
  }
  .main {
    width: 728px;
  }
  .main__object {
    right: -78px;
  }
}

@media only screen and (max-width: 991px) {
  .main__object {
    display: none;
  }
  .page-content {
    padding: 0;
  }
  .page-content-mobile {
    display: block;
  }
  .page-content-mobile > .container {
    width: 100%;
  }
  .page-content-mobile > .container > .row > .col-xs-12 {
    padding: 0;
  }
  .page > .container {
    width: 100%;
  }
  .page > .container > .row > .col-xs-12 {
    position: static;
  }
  .main {
    height: auto !important;
    padding-bottom: 25px !important;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
  .main-header, .subHead {
    font-size: 2.8rem !important;
    line-height: 32px !important;
  }
  .files-header span, .gallery-header span, .subHead span, .main-header span {
    padding: 0 15px;
  }
}

.toolbar {
  min-height: 54px;
  background-color: #538c33;
  color: #ffd200;
  font-family: 'Titillium SemiBold', sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 0 15px;
  padding: 9px 25px 10px;
}

.toolbar .col-xs-12:before, .toolbar .col-xs-12:after {
  content: " ";
  display: table;
}

.toolbar .col-xs-12:after {
  clear: both;
}

.toolbar__links {
  font-size: 0;
}

.toolbar__links li {
  vertical-align: bottom;
  display: inline-block;
  font-size: 1.4rem;
}

.toolbar__links a {
  color: #ffd200;
  text-decoration: none;
}

.toolbar__links a svg {
  fill: #ffd200;
}

.toolbar__links a:hover {
  color: #fff;
}

.toolbar__links a:hover svg {
  fill: #fff;
}

.toolbar__links a.toolbar__bip svg {
  fill: #fff;
}

.toolbar__links a.toolbar__bip:hover {
  color: #fff;
}

.toolbar__links a.toolbar__bip:hover svg {
  fill: #ffd200;
}

.toolbar__links--left {
  vertical-align: middle;
  float: left;
}

.toolbar__links--left li:not(:last-child) {
  margin-right: 18px;
}

.toolbar__links--left span {
  margin-left: 5px;
}

.toolbar__links--right {
  float: right;
}

.toolbar__home svg, .toolbar__sitemap svg {
  transform: translateY(3px);
}

.toolbar__bip {
  transform: translateX(5px) translateY(8px);
}

.toolbar__fonts li {
  margin: 0 1px;
}

.toolbar__contrast {
  width: 20px;
  height: 21px;
  border-radius: 50%;
  margin: 0 34px 0 22px;
  background-color: #37631e;
  transform: translateY(3px);
}

.toolbar__contrast svg {
  transform: translateX(-1px);
}

.toolbar__search {
  width: 237px;
  height: 34px;
}

.toolbar__search input[type="text"] {
  font-family: 'Titillium', sans-serif;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  width: 203px;
  float: left;
}

.toolbar__search button {
  float: left;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: #ffd200;
  border: 1px solid #ffd200;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.toolbar__search button svg {
  transform: translateY(3px);
  fill: #538c33;
}

.toolbar__search button:hover {
  background-color: #538c33;
}

.toolbar__search button:hover svg {
  fill: #ffd200;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .toolbar__holder .col-xs-12 {
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .toolbar__holder {
    width: 100%;
  }
  .toolbar {
    width: calc(100% + 30px);
    transform: translateX(-15px);
    margin-top: 51px;
  }
  .toolbar__links .toolbar__fonts {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .toolbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .toolbar__home {
    font-size: 0;
  }
}

@media only screen and (max-width: 639px) {
  .toolbar__links--left li:not(:last-child) {
    margin-right: 15px;
  }
  .toolbar__search {
    width: 34px;
    position: relative;
  }
  .toolbar__search.shown input[type="text"] {
    opacity: 1;
    width: 203px;
  }
  .toolbar__search input[type="text"] {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
    right: 34px;
  }
  .toolbar__contrast {
    margin: 0 15px 0 0;
  }
}

.menu-top {
  width: calc(100% - 2px);
  position: relative;
  bottom: 0;
  z-index: 10;
  background-color: #ffd200;
}

.menu-top:before, .menu-top:after {
  content: " ";
  display: table;
}

.menu-top:after {
  clear: both;
}

#navbar-top {
  float: right;
  width: 900px;
  padding: 0 20px 0 15px;
  font-family: 'Roboto Slab Bold', serif;
}

#navbar-top > ul {
  text-align: center;
  font-size: 0;
  background-color: #ffd200;
}

#navbar-top > ul > li {
  display: inline-block;
}

#navbar-top > ul li {
  max-width: 100%;
}

#navbar-top > ul .dropdown-menu {
  float: none;
  transform: translateX(-50%);
  width: 220px;
  left: 50%;
  background-color: #ffd200;
  text-align: center;
}

#navbar-top > ul .dropdown-menu li {
  display: block;
}

#navbar-top > ul .dropdown-menu li a {
  font-size: 1.4rem;
}

#navbar-top > ul a {
  display: block;
  transition: background-color .3s ease-in-out;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  padding: 14px 7px;
  font-size: 1.6rem;
  line-height: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  color: #558838;
  outline-offset: -2px !important;
}

#navbar-top > ul a svg {
  transform: translateY(-1px);
}

#navbar-top > ul a:hover {
  background-color: #346817;
  color: #ffd200;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

#navbar-top > ul a:hover svg {
  fill: #ffd200;
}

@media only screen and (max-width: 1199px) {
  #navbar-top {
    width: 620px;
  }
  .menu-top__decoration {
    width: 970px;
    height: 382px;
  }
}

@media only screen and (max-width: 991px) {
  .menu-top__decoration {
    display: none;
  }
  .menu-top {
    overflow: visible;
    background-color: #ffd200;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  #navbar-top {
    width: 100%;
    margin: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }
  #navbar-top > ul a {
    transition: none;
  }
  #navbar-top.in {
    pointer-events: auto;
    opacity: 1;
    height: auto;
  }
  #navbar-top.in > ul .dropdown-menu {
    position: static;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    transform: none;
  }
  #navbar-top.in > ul .dropdown-menu li a {
    padding: 14px 15px;
    font-size: 1.3rem;
  }
  #navbar-top.in > ul > li {
    display: block;
  }
  #navbar-top.in > ul > li a {
    display: block;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    float: none;
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin: 0;
  }
  .navbar-toggle i {
    margin-left: 0;
    pointer-events: none;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    display: block;
    width: 36px;
    height: 3px;
    background-color: #538c33;
  }
  .navbar-toggle i:not(:last-of-type) {
    margin-bottom: 7px;
  }
  .navbar-toggle[aria-expanded="true"] i:first-of-type {
    transform: rotate(45deg) translateX(8px) translateY(7px);
  }
  .navbar-toggle[aria-expanded="true"] i:nth-of-type(2) {
    opacity: 0;
  }
  .navbar-toggle[aria-expanded="true"] i:last-of-type {
    transform: rotate(-45deg) translateX(7px) translateY(-6px);
  }
}

.top {
  position: relative;
}

.top__mask {
  position: absolute;
  overflow: hidden;
  border-top-left-radius: 15px;
  z-index: 11;
  width: 500px;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.top__mask > div {
  position: absolute;
  border: 5px solid #ffd200;
  background-color: #538c33;
  border-radius: 50%;
  bottom: 0;
  left: -100%;
  width: 200%;
  height: 200%;
}

.header {
  height: 445px;
  position: relative;
  top: 0;
  margin-bottom: -7px;
  border-top-right-radius: 15px;
}

.header:before, .header:after {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}

.header__info {
  position: absolute;
  top: 55px;
  left: 30px;
  z-index: 12;
}

.header__object {
  position: absolute;
  bottom: -135px;
  right: -82px;
  z-index: 0;
}

.header__title {
  color: #ffd200;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  width: 335px;
  margin: 0 0 38px;
  padding: 0;
  font-size: 2.6rem;
  line-height: 30px;
  font-family: 'Roboto Slab Bold', serif;
  font-weight: normal;
}

.header__address {
  color: #ffd200;
  width: 285px;
  font-size: 1.6rem;
  line-height: 20px;
  font-family: 'Titillium SemiBold', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.header__address p {
  margin: 0;
}

.header__address a {
  margin-top: 15px;
  color: #ffd200;
  text-decoration: underline;
}

.header__address a:hover {
  text-decoration: none;
}

#banner {
  height: 421px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

#banner .banner-outer {
  position: relative;
  stroke: #ffd200;
  fill: transparent;
  width: 1140px;
  height: 450px;
  z-index: 9;
  top: -2px;
}

#banner .owl-carousel {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 15px;
}

#banner .owl-carousel .banner-photo {
  position: static;
}

#banner .banner-photo {
  top: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

#banner .banner-photo svg {
  width: 1140px;
  height: 450px;
}

@media only screen and (max-width: 1199px) {
  .top__mask {
    width: 405px;
  }
  .header {
    top: 0;
  }
  .header, #banner {
    height: 378px;
  }
  #banner .banner-outer {
    width: 970px;
    height: 382px;
  }
  #banner .banner-photo svg {
    width: 970px;
    height: 382px;
  }
  .header__info {
    top: 55px;
  }
  .header__title {
    width: 320px;
    margin-bottom: 20px;
  }
  .header__address {
    width: 320px;
  }
}

@media only screen and (max-width: 991px) {
  .top {
    position: static;
  }
  .top__mask {
    display: none;
  }
  .header {
    position: static;
    height: auto;
    width: 720px;
    margin: 0 auto 20px;
  }
  .header__holder {
    position: relative;
  }
  .header__object {
    bottom: 0;
    right: -30px;
  }
  #banner {
    height: 290px;
  }
  #banner .banner-outer {
    top: 0;
    width: 720px;
    height: 284px;
  }
  #banner .banner-photo svg {
    width: 720px;
    height: 284px;
  }
  .header__info {
    display: none;
  }
  .header__title {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: 240px;
    font-size: 2.2rem;
    line-height: 26px;
    margin: 0;
  }
  .header__address {
    padding: 290px 15px 15px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  #banner {
    height: auto;
    position: static;
  }
  #banner .banner-outer {
    width: 100%;
    height: auto;
  }
  #banner .banner-photo svg {
    width: 100%;
    height: auto;
  }
  .header__title {
    text-align: center;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    padding: 15px;
  }
  .header__address {
    padding-top: 0;
  }
}

@media only screen and (max-width: 479px) {
  .header__title {
    padding-left: 0;
    padding-right: 0;
  }
  .header__address {
    padding: 0 0 15px;
  }
}

#sidebar-menu-desktop:before, #sidebar-menu-desktop:after, #sidebar-menu-mobile:before, #sidebar-menu-mobile:after {
  content: " ";
  display: table;
}

#sidebar-menu-desktop:after, #sidebar-menu-mobile:after {
  clear: both;
}

.aside {
  border-right: 5px solid #ffd200;
  position: relative;
  padding: 0px;
  width: calc(25% - 46.5px);
  margin: 30px 0 0 30px;
}

.aside:before {
  content: '';
  display: block;
  position: absolute;
  right: -883px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 878px;
  pointer-events: none;
  background-color: #fff;
  border-right: 5px solid #ffd200;
}

.sidebar-menu {
  width: calc(100% + 16px);
  right: 16px;
  z-index: 9;
  background-color: #ffd200;
  position: relative;
  padding: 4px 20px 35px;
}

.sidebar-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 22px);
  background-color: #ffd200;
  height: 29px;
  left: 0;
  top: -24px;
  right: 22px;
}

.sidebar-menu h2 {
  margin: 0 0 8px;
  text-align: right;
  display: block;
  color: #346817;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.6);
}

.sidebar-menu h2.module-name {
  margin-top: 20px;
}

.sidebar-menu ul {
  position: relative;
  z-index: 2;
}

.sidebar-menu ul li a {
  font-size: 1.6rem;
  line-height: 20px;
  display: block;
  text-align: left;
  padding: 8px 0;
  border-bottom: 1px solid #ffe674;
  color: #538c33;
  font-family: 'Roboto Slab Bold', sans-serif;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.sidebar-menu ul li a:hover {
  text-decoration: none;
  background-color: #eec100;
}

.sidebar-menu ul li a:focus {
  outline-width: 0;
}

.sidebar-menu ul li a.selected {
  background-color: #eec100;
}

.sidebar-menu .dropdown-menu {
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
  width: 100%;
  float: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.sidebar-menu .dropdown-menu li a {
  padding-left: 15px;
  color: #538c33;
}

.sidebar-menu .dropdown-menu li li a {
  padding-left: 30px;
}

.sidebar-menu__object {
  position: absolute;
  top: -86px;
  left: -107px;
  z-index: -1;
}

.sidebar-menu__decoration {
  position: absolute;
  overflow: hidden;
}

.sidebar-menu__decoration.top {
  top: -24px;
  right: -5px;
  width: 29px;
  height: 29px;
}

.sidebar-menu__decoration.top:before, .sidebar-menu__decoration.top:after {
  content: '';
  display: block;
  position: absolute;
}

.sidebar-menu__decoration.top:before {
  box-sizing: content-box;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  right: 0;
  transform: translateX(50%);
  top: -74px;
  border: 40px solid #ffd200;
  background: transparent;
}

.sidebar-menu__decoration.top:after {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  left: 0;
  top: -29px;
  border: 5px solid #ffd200;
}

.sidebar-menu__decoration.bottom {
  width: 29px;
  height: 58px;
  bottom: -27px;
  right: -5px;
}

.sidebar-menu__decoration.bottom:before {
  border-radius: 50%;
  border: 5px solid #ffd200;
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
}

.sidebar-modules {
  width: 258px;
  position: relative;
  left: -16px;
  z-index: 9;
}

.sidebar-modules .module {
  position: relative;
  padding: 26px 20px 30px;
}

.sidebar-modules .module.module--icon .icon {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar-modules .module.module--icon .content {
  width: calc(100% - 65px);
}

.sidebar-modules .module.module--icon .module-content {
  min-height: 60px;
}

.sidebar-modules .module h2 {
  margin: 0 0 15px;
}

.sidebar-modules .module .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.sidebar-modules .module .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sidebar-modules .module .buttonWrapper svg, .sidebar-modules .module .button svg, .sidebar-modules .module .button-wrapper svg {
  pointer-events: none;
}

.sidebar-modules .module .module-content {
  position: relative;
}

.sidebar-modules .module#mod_login label {
  text-align: right;
  padding-right: 20px;
}

.sidebar-modules .module#mod_login .buttonWrapper, .sidebar-modules .module#mod_login .button {
  margin-left: 40px;
}

.sidebar-modules .module#mod_calendar .clock-container {
  display: block;
}

.sidebar-modules .module#mod_calendar .module-content {
  min-height: 62px;
}

.sidebar-modules .module#mod_calendar p {
  margin: 0 0 15px;
  width: calc(100% - 65px);
}

.sidebar-modules .module#mod_calendar p:last-child {
  margin: 0;
}

.sidebar-modules .module#mod_forum .module-content {
  margin-top: -40px;
}

.sidebar-modules .module#mod_forum .module-content .content {
  width: 100%;
  font-size: 0;
  padding-top: 60px;
}

.sidebar-modules .module#mod_forum .module-content .content .button {
  font-size: 1.6rem;
}

.module__decoration {
  width: 29px;
  height: 58px;
  overflow: hidden;
  position: absolute;
  right: -5px;
}

.module__decoration:before {
  content: '';
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 5px solid #ffd200;
  background-color: #fff;
}

.module__decoration--top {
  top: -29px;
}

.module__decoration--bottom {
  bottom: -29px;
}

.aside__decoration--circle {
  position: absolute;
  width: 33px;
  height: 29px;
  left: 243px;
  bottom: 259px;
  overflow: hidden;
}

.aside__decoration--circle:before {
  content: '';
  width: 58px;
  height: 58px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 9;
  border: 5px solid #ffd200;
}

.aside__decoration--bottom {
  width: 265px;
  height: 263px;
  position: relative;
  float: left;
  z-index: 10;
  overflow-x: hidden;
}

.aside__decoration--bottom:before, .aside__decoration--bottom:after {
  content: '';
  display: block;
  position: absolute;
}

.aside__decoration--bottom:before {
  top: 0;
  left: 0;
  width: calc(100% - 31px);
  height: 5px;
  z-index: 6;
  background-color: #ffd200;
}

.aside__decoration--bottom:after {
  bottom: 0;
  width: 10px;
  height: 5px;
  background-color: #ffd200;
  right: 0;
}

.aside__decoration--bottom svg {
  position: absolute;
}

.aside__decoration--bottom .aside__object--1 {
  width: 260px;
  height: 266px;
  fill: #ffd200;
  z-index: 4;
  bottom: 0;
  right: 5px;
}

.aside__decoration--bottom .aside__object--2 {
  width: 237px;
  height: 244px;
  right: 24px;
  z-index: 3;
  bottom: 5px;
  fill: #346817;
}

.aside__decoration--bottom .aside__object--3 {
  width: 260px;
  height: 266px;
  fill: #fff;
  z-index: 5;
  bottom: 5px;
  right: 0px;
}

.aside__decoration--bottom .aside__object--4 {
  z-index: 2;
  bottom: 20px;
  right: 32px;
  transform: scale(0.8);
  transform-origin: 100% 50%;
}

.aside__decoration--bottom .aside__object--5 {
  top: 60px;
  left: 0;
  z-index: 2;
  transform: scale(0.8);
  transform-origin: 0 50%;
}

@media only screen and (min-width: 992px), only screen and (max-width: 767px) {
  .sidebar-modules .module:nth-child(odd) h2 {
    color: #ffd200;
    text-shadow: 0px 1px 1px #316514;
  }
  .sidebar-modules .module:nth-child(odd) .icon {
    border: 5px solid #ffd200;
    background-color: #346817;
  }
  .sidebar-modules .module:nth-child(odd) .module-content {
    color: #fff;
    text-shadow: 0px 1px 1px #316514;
  }
  .sidebar-modules .module:nth-child(odd) .module-content a {
    color: #fff;
  }
  .sidebar-modules .module:nth-child(odd) .module-content a[href^="mailto:"] {
    color: #fff !important;
    text-decoration: underline;
  }
  .sidebar-modules .module:nth-child(odd) .module-content a[href^="mailto:"] span {
    color: #fff !important;
  }
  .sidebar-modules .module:nth-child(odd) .module-content a[href^="mailto:"]:hover {
    text-decoration: none;
  }
  .sidebar-modules .module:nth-child(odd) .module__decoration {
    display: none;
  }
  .sidebar-modules .module:nth-child(odd)#mod_calendar .clock-container {
    border-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(odd)#mod_questionnaire .qBar {
    background-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(odd)#mod_questionnaire .qAnswer {
    color: #ffd200;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(odd)#mod_questionnaire input[type="radio"] + label .label {
    color: #ffd200;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(even) {
    background-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(even) h2 {
    color: #346817;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .sidebar-modules .module:nth-child(even) .icon {
    border: 5px solid #538c33;
    background-color: #336716;
  }
  .sidebar-modules .module:nth-child(even) .module-content {
    color: #346817;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .sidebar-modules .module:nth-child(even) .module-content a {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(even) .module-content a[href^="mailto:"] {
    color: #346817 !important;
    text-decoration: underline;
  }
  .sidebar-modules .module:nth-child(even) .module-content a[href^="mailto:"] span {
    color: #346817 !important;
  }
  .sidebar-modules .module:nth-child(even) .module-content a[href^="mailto:"]:hover {
    text-decoration: none;
  }
  .sidebar-modules .module:nth-child(even) .module__decoration {
    display: block;
  }
  .sidebar-modules .module:nth-child(even) .butForm, .sidebar-modules .module:nth-child(even) button:not(#toolbar-search):not(.navbar-toggle), .sidebar-modules .module:nth-child(even) input[type="submit"], .sidebar-modules .module:nth-child(even) .button, .sidebar-modules .module:nth-child(even) .button-wrapper {
    color: #ffd200 !important;
    background-color: #538c33;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(even) .butForm svg, .sidebar-modules .module:nth-child(even) button:not(#toolbar-search):not(.navbar-toggle) svg, .sidebar-modules .module:nth-child(even) input[type="submit"] svg, .sidebar-modules .module:nth-child(even) .button svg, .sidebar-modules .module:nth-child(even) .button-wrapper svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(even) .butForm:hover, .sidebar-modules .module:nth-child(even) button:not(#toolbar-search):not(.navbar-toggle):hover, .sidebar-modules .module:nth-child(even) input[type="submit"]:hover, .sidebar-modules .module:nth-child(even) .button:hover, .sidebar-modules .module:nth-child(even) .button-wrapper:hover {
    background-color: #75ae55;
  }
  .sidebar-modules .module:nth-child(even)#mod_login label {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(even)#mod_login .user-name a {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(even)#mod_login .buttonWrapper svg, .sidebar-modules .module:nth-child(even)#mod_login .button svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(even)#mod_questionnaire .button-wrapper svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(even)#mod_stats .stats-count {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_prev a, .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_next a {
    background-color: #538c33;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_prev a:hover, .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_next a:hover {
    background-color: #346817;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_prev a:before {
    border-color: transparent #ffd200 transparent transparent;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .caption_nav_next a:before {
    border-color: transparent transparent transparent #ffd200;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar caption {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar td {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar td.pr_day {
    background-color: #346817;
    text-shadow: none;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar th {
    text-shadow: none;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar a {
    background-color: #538c33;
    color: #ffd200;
  }
  .sidebar-modules .module:nth-child(even)#mod_calendar2 .calendar a:hover {
    background-color: #346817;
  }
}

@media only screen and (max-width: 1199px) {
  .aside {
    margin: 30px 0 0;
    width: 242px;
  }
  .aside:before {
    right: -733px;
    width: 728px;
  }
  .sidebar-menu, .sidebar-modules {
    width: 100%;
    right: 0;
    left: 0;
  }
  .sidebar-menu__decoration.top {
    right: -20px;
  }
  .aside__decoration--bottom {
    right: 0;
  }
  .aside__decoration--bottom:before {
    width: calc(100% - 51px);
  }
  .aside__decoration--circle {
    bottom: 259px;
    left: 209px;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-modules .module {
    height: auto !important;
  }
}

@media only screen and (max-width: 991px) {
  .sidebar-menu__decoration, .aside__decoration--bottom, .aside__decoration--circle, .module__decoration, .sidebar-menu__object {
    display: none !important;
  }
  .sidebar-menu {
    padding: 20px;
  }
  .sidebar-menu:before {
    display: none;
  }
  .aside {
    padding: 0;
    border: 0;
    height: auto !important;
    width: 100%;
  }
  .aside:before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aside {
    width: calc(100% + 18px);
    transform: translateX(-9px);
    padding: 0 15px;
  }
  .sidebar-modules {
    font-size: 0;
    margin: 20px auto;
  }
  .sidebar-modules .module {
    width: 50%;
    text-align: center;
    vertical-align: top;
    font-size: 1.4rem;
    padding: 20px;
    display: inline-block;
  }
  .sidebar-modules .module h2 {
    text-align: center;
  }
  .sidebar-modules .module.module--icon .content {
    padding-top: 70px;
    width: 100%;
  }
  .sidebar-modules .module.module--icon .icon {
    right: 50%;
    transform: translateX(50%);
  }
  .sidebar-modules .module#mod_forum .module-content {
    margin: 0;
  }
  .sidebar-modules .module#mod_forum .module-content .content {
    padding-top: 70px;
  }
  .sidebar-modules .module#mod_calendar .module-content {
    padding-top: 75px;
  }
  .sidebar-modules .module#mod_calendar .clock-container {
    right: 50%;
    transform: translateX(50%);
  }
  .sidebar-modules .module#mod_calendar p {
    margin: 0 0 10px;
    width: 100%;
  }
  .sidebar-modules .module#mod_calendar p span {
    display: inline;
  }
  .sidebar-modules .module:nth-child(4n+2) h2, .sidebar-modules .module:nth-child(4n+3) h2 {
    color: #ffd200;
    text-shadow: 0px 1px 1px #316514;
  }
  .sidebar-modules .module:nth-child(4n+2) .icon, .sidebar-modules .module:nth-child(4n+3) .icon {
    border: 5px solid #ffd200;
    background-color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+2) .module-content, .sidebar-modules .module:nth-child(4n+3) .module-content {
    color: #fff;
    text-shadow: 0px 1px 1px #316514;
  }
  .sidebar-modules .module:nth-child(4n+2) .module-content a, .sidebar-modules .module:nth-child(4n+3) .module-content a {
    color: #fff;
  }
  .sidebar-modules .module:nth-child(4n+2) .module-content a[href^="mailto:"], .sidebar-modules .module:nth-child(4n+3) .module-content a[href^="mailto:"] {
    color: #fff !important;
    text-decoration: underline;
  }
  .sidebar-modules .module:nth-child(4n+2) .module-content a[href^="mailto:"] span, .sidebar-modules .module:nth-child(4n+3) .module-content a[href^="mailto:"] span {
    color: #fff !important;
  }
  .sidebar-modules .module:nth-child(4n+2) .module-content a[href^="mailto:"]:hover, .sidebar-modules .module:nth-child(4n+3) .module-content a[href^="mailto:"]:hover {
    text-decoration: none;
  }
  .sidebar-modules .module:nth-child(4n+2) .module__decoration, .sidebar-modules .module:nth-child(4n+3) .module__decoration {
    display: none;
  }
  .sidebar-modules .module:nth-child(4n+2)#mod_calendar .clock-container, .sidebar-modules .module:nth-child(4n+3)#mod_calendar .clock-container {
    border-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+2)#mod_questionnaire input[type="radio"] + label .label, .sidebar-modules .module:nth-child(4n+3)#mod_questionnaire input[type="radio"] + label .label {
    color: #ffd200;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+2)#mod_questionnaire .qBar, .sidebar-modules .module:nth-child(4n+3)#mod_questionnaire .qBar {
    background-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+2)#mod_questionnaire .qAnswer, .sidebar-modules .module:nth-child(4n+3)#mod_questionnaire .qAnswer {
    color: #ffd200;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+1), .sidebar-modules .module:nth-child(4n+4) {
    background-color: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1) h2, .sidebar-modules .module:nth-child(4n+4) h2 {
    color: #346817;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+1) .icon, .sidebar-modules .module:nth-child(4n+4) .icon {
    border: 5px solid #538c33;
    background-color: #336716;
  }
  .sidebar-modules .module:nth-child(4n+1) .module-content, .sidebar-modules .module:nth-child(4n+4) .module-content {
    color: #346817;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+1) .module-content a, .sidebar-modules .module:nth-child(4n+4) .module-content a {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+1) .module-content a[href^="mailto:"], .sidebar-modules .module:nth-child(4n+4) .module-content a[href^="mailto:"] {
    color: #346817 !important;
    text-decoration: underline;
  }
  .sidebar-modules .module:nth-child(4n+1) .module-content a[href^="mailto:"] span, .sidebar-modules .module:nth-child(4n+4) .module-content a[href^="mailto:"] span {
    color: #346817 !important;
  }
  .sidebar-modules .module:nth-child(4n+1) .module-content a[href^="mailto:"]:hover, .sidebar-modules .module:nth-child(4n+4) .module-content a[href^="mailto:"]:hover {
    text-decoration: none;
  }
  .sidebar-modules .module:nth-child(4n+1) .module__decoration, .sidebar-modules .module:nth-child(4n+4) .module__decoration {
    display: block;
  }
  .sidebar-modules .module:nth-child(4n+1) .butForm, .sidebar-modules .module:nth-child(4n+1) button:not(#toolbar-search):not(.navbar-toggle), .sidebar-modules .module:nth-child(4n+1) input[type="submit"], .sidebar-modules .module:nth-child(4n+1) .button, .sidebar-modules .module:nth-child(4n+1) .button-wrapper, .sidebar-modules .module:nth-child(4n+4) .butForm, .sidebar-modules .module:nth-child(4n+4) button:not(#toolbar-search):not(.navbar-toggle), .sidebar-modules .module:nth-child(4n+4) input[type="submit"], .sidebar-modules .module:nth-child(4n+4) .button, .sidebar-modules .module:nth-child(4n+4) .button-wrapper {
    color: #ffd200 !important;
    background-color: #538c33;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+1) .butForm svg, .sidebar-modules .module:nth-child(4n+1) button:not(#toolbar-search):not(.navbar-toggle) svg, .sidebar-modules .module:nth-child(4n+1) input[type="submit"] svg, .sidebar-modules .module:nth-child(4n+1) .button svg, .sidebar-modules .module:nth-child(4n+1) .button-wrapper svg, .sidebar-modules .module:nth-child(4n+4) .butForm svg, .sidebar-modules .module:nth-child(4n+4) button:not(#toolbar-search):not(.navbar-toggle) svg, .sidebar-modules .module:nth-child(4n+4) input[type="submit"] svg, .sidebar-modules .module:nth-child(4n+4) .button svg, .sidebar-modules .module:nth-child(4n+4) .button-wrapper svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1) .butForm:hover, .sidebar-modules .module:nth-child(4n+1) button:not(#toolbar-search):not(.navbar-toggle):hover, .sidebar-modules .module:nth-child(4n+1) input[type="submit"]:hover, .sidebar-modules .module:nth-child(4n+1) .button:hover, .sidebar-modules .module:nth-child(4n+1) .button-wrapper:hover, .sidebar-modules .module:nth-child(4n+4) .butForm:hover, .sidebar-modules .module:nth-child(4n+4) button:not(#toolbar-search):not(.navbar-toggle):hover, .sidebar-modules .module:nth-child(4n+4) input[type="submit"]:hover, .sidebar-modules .module:nth-child(4n+4) .button:hover, .sidebar-modules .module:nth-child(4n+4) .button-wrapper:hover {
    background-color: #75ae55;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_login label, .sidebar-modules .module:nth-child(4n+4)#mod_login label {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_login .user-name a, .sidebar-modules .module:nth-child(4n+4)#mod_login .user-name a {
    color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_login .buttonWrapper svg, .sidebar-modules .module:nth-child(4n+1)#mod_login .button svg, .sidebar-modules .module:nth-child(4n+4)#mod_login .buttonWrapper svg, .sidebar-modules .module:nth-child(4n+4)#mod_login .button svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_questionnaire .button-wrapper svg, .sidebar-modules .module:nth-child(4n+4)#mod_questionnaire .button-wrapper svg {
    fill: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_stats .stats-count, .sidebar-modules .module:nth-child(4n+4)#mod_stats .stats-count {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_prev a, .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_next a, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_prev a, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_next a {
    background-color: #538c33;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6);
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_prev a:hover, .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_next a:hover, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_prev a:hover, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_next a:hover {
    background-color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_prev a:before, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_prev a:before {
    border-color: transparent #ffd200 transparent transparent;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .caption_nav_next a:before, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .caption_nav_next a:before {
    border-color: transparent transparent transparent #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .calendar caption, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .calendar caption {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .calendar td, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .calendar td {
    color: #538c33;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .calendar td.pr_day, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .calendar td.pr_day {
    background-color: #346817;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .calendar a, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .calendar a {
    background-color: #538c33;
    color: #ffd200;
  }
  .sidebar-modules .module:nth-child(4n+1)#mod_calendar2 .calendar a:hover, .sidebar-modules .module:nth-child(4n+4)#mod_calendar2 .calendar a:hover {
    background-color: #346817;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar-menu {
    margin-top: 15px;
  }
  .sidebar-modules {
    width: 280px;
    margin: 20px auto;
  }
  .sidebar-modules .module {
    height: auto !important;
  }
}

.modules-top {
  text-align: center;
  margin: 45px 0 0;
}

.modules-top .row {
  font-size: 0;
}

.modules-top .row .col-xs-12 > div {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  max-width: 262px;
}

.modules-top .module-4 {
  width: 25%;
}

.modules-top .module-3 {
  width: 33.3333%;
}

.modules-top .module-2 {
  width: 50%;
}

.modules-top .module-1 {
  width: 100%;
  height: auto !important;
}

.modules-top #mod_calendar span {
  color: #ffd200;
}

.modules-top #mod_login .modules-top__icon svg {
  transform: translateX(-45%) translateY(-40%);
}

.modules-top #mod_login .user-avatar img {
  border-color: #ffd200;
}

.modules-top #mod_login .user-name a {
  color: #ffd200;
}

.modules-top #mod_login .button svg {
  fill: #538c33;
}

.modules-top #mod_contact .modules-top__icon svg {
  transform: translateX(-50%) translateY(-40%);
}

.modules-top #mod_contact a[href^="mailto:"] {
  color: #ffd200 !important;
}

.modules-top #mod_contact a[href^="mailto:"] span {
  color: #ffd200 !important;
}

.modules-top__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #ffd200;
  background-color: #346817;
  position: relative;
}

.modules-top__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modules-top__name {
  margin: 14px 0;
  color: #ffd200;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.modules-top__content {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 285px;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.modules-top__content a {
  color: currentColor;
}

.modules-top__content p {
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .modules-top {
    margin: 25px 0 0;
  }
  .modules-top .row .col-xs-12 > div {
    margin: 0 auto 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .modules-top .module-4 {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .modules-top .row .col-xs-12 > div {
    display: block;
    width: 100%;
    max-width: 280px;
  }
}

#modules-top2 {
  width: calc(100% + 15px);
  transform: translateY(-39px) translateX(15px);
}

#modules-top2 .module:before, #modules-top2 .module:after {
  top: 0;
}

#modules-top2 .module:before {
  left: -6px;
  border-width: 0 0 10px 6px;
  border-color: transparent transparent #346817 transparent;
}

#modules-top2 .module:after {
  right: -6px;
  border-width: 10px 0 0 6px;
  border-color: transparent transparent transparent #346817;
}

#modules-bottom-desktop {
  width: calc(100% - 266px);
  display: block;
  min-height: 263px;
  position: relative;
  border-bottom: 5px solid #ffd200;
  border-right: 5px solid #ffd200;
  background-color: #fff;
  float: right;
  transform: translateX(-1px);
}

#modules-bottom-desktop:before, #modules-bottom-desktop:after {
  content: " ";
  display: table;
}

#modules-bottom-desktop:after {
  clear: both;
}

#modules-bottom-desktop:before {
  content: '';
  display: block;
  background-color: #fff;
  width: 3px;
  height: calc(100% - 5px);
  top: 0;
  bottom: 5px;
  left: -2px;
  position: absolute;
}

#modules-bottom {
  position: absolute;
  bottom: -15px;
  right: -5px;
  width: 100%;
}

#modules-bottom .module:before, #modules-bottom .module:after {
  bottom: 0;
}

#modules-bottom .module:before {
  left: -6px;
  border-width: 0 6px 10px 0;
  border-color: transparent #346817 transparent transparent;
}

#modules-bottom .module:after {
  right: -6px;
  border-width: 10px 6px 0 0;
  border-color: #346817 transparent transparent transparent;
}

.modules-content {
  position: relative;
  font-size: 0;
  text-align: center;
}

.modules-content .module {
  color: #505050;
  background-color: #ffd200;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 18px;
  vertical-align: top;
  margin-right: 30px;
  padding: 46px 40px 36px;
  position: relative;
  z-index: 9;
}

.modules-content .module:before, .modules-content .module:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.modules-content .module:last-child {
  margin-right: 0;
}

.modules-content .module:last-child:after {
  display: none;
}

.modules-content .module a {
  color: #505050;
}

.modules-content h2 {
  text-align: center;
  margin: 16px 0;
  color: #346817;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.modules-content .module-3 {
  width: calc(33.3333% - 20px);
}

.modules-content .module-2 {
  width: calc(50% - 15px);
}

.modules-content .module-1 {
  width: 100%;
  height: auto !important;
}

.modules-content #mod_forum .modules-content__content {
  font-size: 0;
}

.modules-content #mod_forum .button {
  font-size: 1.6rem;
  color: #ffd200 !important;
  background-color: #538c33;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.6);
}

.modules-content #mod_forum .button svg {
  fill: #ffd200;
}

.modules-content #mod_forum .button:hover {
  background-color: #75ae55;
}

.modules-content #mod_contact a, .modules-content #mod_contact a span {
  color: #505050 !important;
}

.modules-content #mod_contact .modules-content__icon svg {
  transform: translateX(-50%) translateY(-40%);
}

.modules-content__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #538c33;
  background-color: #336716;
  position: relative;
}

.modules-content__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 1199px) {
  .modules-content .module {
    padding: 20px;
  }
  .modules-content h2 {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 991px) {
  #modules-top2, #modules-bottom {
    transform: none;
    width: 100%;
    margin: 20px auto;
    position: static;
  }
  #modules-bottom-desktop {
    display: none;
  }
  .modules-content .module:before, .modules-content .module:after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .modules-content .module {
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 20px auto;
    height: auto !important;
  }
  .modules-content .module:last-child {
    margin-right: auto;
    margin-bottom: 20px;
  }
}

#mod_stats .stats-count {
  font-weight: 'Titillium SemiBold', sans-serif;
  color: #ffd200;
}

#mod_contact p {
  margin: 0;
}

#mod_contact a[href^="mailto:"] {
  text-decoration: underline;
}

#mod_contact a[href^="mailto:"]:hover {
  text-decoration: none;
}

#mod_login fieldset {
  width: 200px;
  display: block;
  margin: 0 auto;
}

#mod_login fieldset:before, #mod_login fieldset:after {
  content: " ";
  display: table;
}

#mod_login fieldset:after {
  clear: both;
}

#mod_login label {
  font-family: 'Titillium SemiBold', sans-serif;
  width: 60px;
  padding: 0;
  display: block;
  float: left;
  margin: 0;
  color: #fff;
}

#mod_login input[type="text"], #mod_login input[type="password"] {
  width: 138px;
  display: block;
  float: left;
  margin: 0 0 5px;
}

#mod_login .user-avatar {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-avatar img {
  border-width: 1px;
  border-style: solid;
}

#mod_login .user-name {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-name a {
  text-decoration: underline;
  color: #fff;
}

#mod_login .user-name a:hover {
  text-decoration: none;
}

#mod_login .button, #mod_login .buttonWrapper {
  display: inline-block;
  position: relative;
}

#mod_login .button svg, #mod_login .buttonWrapper svg {
  fill: #538c33;
  position: absolute;
  transform: translateY(-50%);
  top: 54%;
  z-index: 2;
  left: 11px;
}

#mod_forum .button {
  margin-top: 5px;
}

#mod_forum .button svg {
  left: 8px;
  top: 58%;
}

#mod_forum #modForum, #mod_forum .bolder {
  display: none;
}

#mod_weather {
  text-align: center;
}

#mod_weather h2 {
  text-align: left;
}

#mod_weather .weatherLoc {
  font-family: 'Roboto Slab Bold', serif;
}

#mod_weather .weatherTemp {
  font-family: 'Roboto Slab Bold', serif;
  font-size: 2.8rem;
}

#mod_calendar2 .caption_nav_prev, #mod_calendar2 .caption_nav_next {
  position: absolute;
  top: 0;
  z-index: 2;
}

#mod_calendar2 .caption_nav_prev a, #mod_calendar2 .caption_nav_next a {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #ffd200;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

#mod_calendar2 .caption_nav_prev a:before, #mod_calendar2 .caption_nav_next a:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}

#mod_calendar2 .caption_nav_prev a i, #mod_calendar2 .caption_nav_next a i {
  display: none;
}

#mod_calendar2 .caption_nav_prev a:hover, #mod_calendar2 .caption_nav_next a:hover {
  background-color: #eec100;
}

#mod_calendar2 .caption_nav_prev {
  left: -10px;
}

#mod_calendar2 .caption_nav_prev a:before {
  border-width: 6px 10px 6px 0;
  border-color: transparent #538c33 transparent transparent;
}

#mod_calendar2 .caption_nav_next {
  right: -10px;
}

#mod_calendar2 .caption_nav_next a:before {
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #538c33;
}

#mod_calendar2 #calendarNews {
  position: relative;
}

#mod_calendar2 .calendar {
  transform: translateX(-10px);
}

#mod_calendar2 .calendar caption {
  text-align: center;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 7px;
  margin: 0 0 10px;
  color: #fff;
}

#mod_calendar2 .calendar td, #mod_calendar2 .calendar th {
  text-align: center;
  color: #ffd200;
  width: 34px;
  height: 32px;
  border-top: 0;
  border-bottom: 0;
  font-family: 'Titillium SemiBold', sans-serif;
  padding: 0;
}

#mod_calendar2 .calendar th {
  text-transform: uppercase;
  background-color: #346817;
  font-size: 1.2rem;
  color: #ffd200;
}

#mod_calendar2 .calendar th:last-child {
  border-right: 1px solid #346817;
}

#mod_calendar2 .calendar td {
  border-left: 1px solid #346817;
  border-right: 1px solid #346817;
}

#mod_calendar2 .calendar td.pr_day {
  background-color: #346817;
  color: #ffd200 !important;
}

#mod_calendar2 .calendar a {
  display: block;
  width: 33px;
  height: 32px;
  background-color: #ffd200;
  color: #538c33;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  line-height: 32px;
  text-decoration: none;
}

#mod_calendar2 .calendar a:hover {
  background-color: #eec100;
}

#mod_calendar .module-content .week-day span, #mod_calendar .module-content .name-day span {
  display: block;
  font-weight: 'Titillium SemiBold', sans-serif;
}

#mod_calendar .clock-container {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 62px;
  height: 62px;
  padding: 3px;
  border-radius: 50%;
  background-color: #346817;
  border: 6px solid #538c33;
}

#mod_calendar .clock-container svg {
  width: 44px;
  height: 44px;
}

#mod_questionnaire .button-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

#mod_questionnaire .button-wrapper svg {
  z-index: 2;
  fill: #538c33;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

#mod_questionnaire li {
  max-width: 224px;
  position: relative;
}

#mod_questionnaire p {
  font-family: 'Titillium SemiBold', sans-serif;
}

#mod_questionnaire input[type="radio"] {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  top: 1px;
  left: 1px;
  position: absolute;
}

#mod_questionnaire input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
}

#mod_questionnaire input[type="radio"] + label .radio {
  display: none;
}

#mod_questionnaire input[type="radio"] + label .label {
  color: #505050;
  padding: 0;
  font-size: 1.4rem;
  line-height: 18px;
  white-space: normal;
  border-radius: 0;
}

#mod_questionnaire input[type="radio"] + label:before, #mod_questionnaire input[type="radio"] + label:after {
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

#mod_questionnaire input[type="radio"] + label:before {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #346817;
  left: 0;
  top: 0;
}

#mod_questionnaire input[type="radio"] + label:after {
  width: 6px;
  height: 6px;
  background-color: #ffd200;
  display: none;
  left: 5px;
  top: 5px;
}

#mod_questionnaire input[type="radio"]:checked + label:after {
  display: block;
}

@media only screen and (max-width: 1199px) {
  #mod_calendar2 .calendar td, #mod_calendar2 .calendar th {
    width: 31px;
    height: 31px;
  }
  #mod_calendar2 .calendar a {
    line-height: 31px;
  }
  #mod_questionnaire li {
    max-width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  #mod_calendar2 #calendarNews {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }
  #mod_calendar2 .caption_nav_prev {
    left: 0;
  }
  #mod_calendar2 .caption_nav_next {
    right: 0;
  }
  #mod_calendar2 .calendar {
    transform: none;
  }
  #mod_questionnaire li {
    text-align: left;
    max-width: 320px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mod_weather h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #mod_questionnaire li {
    max-width: 214px;
  }
}

.footer {
  width: 1140px;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 0px 1px 1px #316514;
  margin: 0 auto 120px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.footer--mobile {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .footer {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    display: none;
  }
  .footer--mobile {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    font-family: 'Titillium SemiBold', sans-serif;
    background-color: #ffd200;
    color: #538c33;
  }
  .footer--mobile a {
    color: #538c33;
    margin: 0 5px;
    text-decoration: none;
  }
  .footer--mobile a:hover {
    text-decoration: underline;
  }
}

.lock-object {
  fill: #558838;
}

.clock-container {
  border-radius: 50%;
}

img + .delete {
  color: #446b87;
  text-decoration: underline;
  margin-left: 5px;
}

img + .delete:hover {
  text-decoration: none;
}

.header__object, .main__object, .sidebar-menu__object, .aside__object--4, .aside__object--5 {
  fill: #346817;
}

#crumbpath {
  padding: 0 0 20px 0;
  color: #538c33;
}

#crumbpath a {
  text-decoration: none;
  font-family: 'Titillium SemiBold', sans-serif;
  color: #538c33;
}

#crumbpath a:hover, #crumbpath a:focus {
  text-decoration: underline;
}

#crumbpath ol {
  display: inline;
  vertical-align: top;
}

#crumbpath ol li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#crumbpath ol li .icon {
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
}

.pathSep {
  margin: 0 10px;
}

.here {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.files-wrapper {
  margin-top: 20px;
}

.files-wrapper:before, .files-wrapper:after {
  content: " ";
  display: table;
}

.files-wrapper:after {
  clear: both;
}

.files-wrapper i {
  color: #538c33;
}

.search-list, .files-wrapper {
  margin-bottom: 30px;
}

#content_txt {
  background-color: #fff;
  padding: 0;
  width: 100%;
  padding-left: 15px;
}

#content_txt table {
  table-layout: auto;
}

#content_txt .tableTopics {
  table-layout: fixed;
}

#content_txt .main-text.location iframe {
  display: block;
  margin: 0 auto;
}

#content_txt .main-text.location iframe + br + small {
  font-family: 'Titillium SemiBold', sans-serif;
  text-align: center;
  display: block;
}

#content_txt .leadArticle {
  margin-bottom: 20px;
}

#content_txt img {
  overflow: hidden;
  height: auto;
}

#content_txt .authorName {
  margin: 30px 0;
}

#content_txt .authorName span {
  font-family: 'Titillium SemiBold', sans-serif;
}

#content_txt iframe {
  border: 2px solid #538c33;
  max-width: 100%;
  box-sizing: border-box;
}

#content_txt .Tweet, #content_txt .FBLike {
  display: inline-block;
  padding: 0;
  width: 77px;
  margin-top: 15px;
  overflow: hidden;
  min-height: 52px;
}

#content_txt .Tweet iframe, #content_txt .FBLike iframe {
  border: none;
}

#content_txt iframe ~ small a, #content_txt iframe ~ small a:visited {
  color: #346817 !important;
  text-decoration: none !important;
}

#content_txt iframe ~ small a:hover {
  color: #346817 !important;
  text-decoration: underline !important;
}

#content_txt .class-list li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

#content_txt .class-list li a, #content_txt .class-list li a:visited {
  color: #346817;
  font-family: 'Titillium SemiBold', sans-serif;
}

#content_txt .class-list li a:hover {
  text-decoration: none;
}

#content_txt .class-list li a:hover span {
  text-decoration: underline;
}

#content_txt .class-list .timetable .txt-err {
  margin-bottom: 0;
  background-color: transparent;
  border-width: 0;
}

#content_txt .sitemap {
  margin: 0 0 30px 10px;
  padding: 0 0 0 10px;
  list-style: disc;
}

#content_txt .sitemap .sitemap {
  margin-bottom: 0;
}

#content_txt .sitemap li {
  margin: 10px 0;
  position: relative;
}

#content_txt .sitemap li a {
  text-decoration: none;
  color: #538c33;
}

#content_txt .sitemap li a:hover, #content_txt .sitemap li a:focus {
  text-decoration: underline;
  color: #538c33;
}

.file_input_div {
  margin: 10px 0 5px;
}

.search-lead {
  border-bottom: 1px solid #346817;
  padding-bottom: 15px;
}

.search-lead:empty {
  display: none;
}

.protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.protectedPage i {
  display: none;
}

.protectedPage svg {
  fill: #558838;
  width: 7px;
  height: 10px;
  display: block;
}

.search-text h3 {
  font-family: 'Roboto Slab Bold', serif;
  font-size: 1.8rem;
  margin: 10px 0;
}

.timetable {
  margin: 10px 0;
}

.timetable caption {
  font-weight: normal;
  padding: 8px 0;
  text-transform: uppercase;
}

.timetable-no {
  width: 5%;
}

.timetable-hour {
  width: 15%;
}

.timetable-lesson {
  width: 38%;
}

.timetable-teacher {
  width: 32%;
}

.timetable-room {
  width: 10%;
}

.planLp {
  text-align: center;
}

.planLesson {
  font-family: 'Titillium SemiBold', sans-serif;
}

.qAnswer {
  float: left;
  margin-top: 10px;
  font-size: 1.4rem;
  text-align: left;
  width: calc(100% - 90px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.qPercent {
  float: right;
  text-align: right;
  margin: 10px 0 0;
  width: 90px;
  padding: 0;
  font-family: 'Titillium SemiBold', sans-serif;
  text-shadow: none;
  color: #346817;
  font-size: 3.8rem;
  line-height: 18px;
}

.qBar {
  background-color: #538c33;
  border-radius: 1px;
  height: 5px;
  margin: 12px 0 8px 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.questionnaireList li {
  position: relative;
}

.questionnaireList input[type="radio"] {
  width: 14px;
  height: 14px;
  margin: 0;
  top: 1px;
  left: 1px;
  padding: 0;
  position: absolute;
}

.questionnaireList input[type="radio"] + label {
  z-index: 2;
  position: relative;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
  max-width: 820px;
}

.questionnaireList input[type="radio"] + label .radio {
  display: none;
}

.questionnaireList input[type="radio"] + label .label {
  color: #505050;
  padding: 0;
  font-size: 1.4rem;
  line-height: 18px;
  white-space: normal;
  border-radius: 0;
}

.questionnaireList input[type="radio"] + label:before, .questionnaireList input[type="radio"] + label:after {
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

.questionnaireList input[type="radio"] + label:before {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #346817;
  left: 0;
  top: 0;
}

.questionnaireList input[type="radio"] + label:after {
  width: 6px;
  height: 6px;
  background-color: #ffd200;
  display: none;
  left: 5px;
  top: 5px;
}

.questionnaireList input[type="radio"]:checked + label:after {
  display: block;
}

.hide {
  position: absolute;
  top: 0;
  left: -9000em;
  width: 1px;
  height: 1px;
}

.clear {
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
  height: 0;
}

.noMargin {
  margin: 0;
}

.bolder {
  font-family: 'Titillium SemiBold', sans-serif;
}

img {
  border: none;
}

.rel {
  position: relative;
}

#jokes {
  margin: 0 0 40px 0;
  padding: 0;
}

#jokes li {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #ffd200;
  position: relative;
}

.jokeText {
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.jokeNick {
  background: none;
  text-align: right;
  padding: 5px 10px;
}

#cookiesMsgWrap {
  border-top-color: #538c33 !important;
  background-color: #ffd200 !important;
}

#cookiesMsg {
  width: auto !important;
  padding: 10px !important;
}

#cookiesMsg p {
  color: #538c33 !important;
  margin: 0;
}

#cookiesMsg a {
  color: #538c33 !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.video iframe {
  display: block;
  margin: 0 auto;
}

.back-links li {
  margin-bottom: 5px;
}

#backLinks {
  margin: 0;
  padding: 0;
}

#backLinks li {
  list-style-type: none;
}

@media only screen and (max-width: 1199px) {
  #content_txt {
    padding-left: 0;
    padding-bottom: 30px;
  }
  .questionnaireList input[type="radio"] + label {
    max-width: 685px;
  }
}

@media only screen and (max-width: 991px) {
  #crumbpath {
    padding: 15px;
    color: #fff;
  }
  #crumbpath a {
    color: #fff;
  }
  #content_txt {
    width: 100%;
    padding: 15px;
  }
  .questionnaireList input[type="radio"] + label {
    max-width: 690px;
  }
}

@media only screen and (max-width: 767px) {
  #content_txt {
    transform: translateX(-15px);
    width: calc(100% + 30px);
  }
  #content_txt img {
    max-width: 100% !important;
  }
  .questionnaireList input[type="radio"] + label {
    max-width: 400px;
  }
}

@media only screen and (max-width: 479px) {
  .questionnaireList input[type="radio"] + label {
    max-width: 290px;
  }
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

.article-wrapper-home {
  position: relative;
}

.photo-wrapper {
  width: 369px;
  float: left;
}

.photo-wrapper svg {
  transition: transform .3s ease-in-out, stroke .3s ease-in-out, fill .3s ease-in-out;
  stroke: #ffd200;
  width: 369px;
  height: 239px;
}

.photo-wrapper:hover svg {
  transform-origin: 50% 50%;
  transform: scale(1.1);
}

.article__decoration {
  display: none;
  width: 24px;
  height: 46px;
  top: 0;
  right: 10px;
  position: absolute;
}

.article__decoration .ribbon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  fill: #ffd200;
}

.article__decoration .star {
  position: absolute;
  top: 11px;
  right: 4px;
  z-index: 3;
  fill: #538c33;
}

.article {
  width: calc(100% + 15px);
  transform: translateX(-15px);
  padding: 15px;
  position: relative;
  z-index: 6;
}

.article:before, .article:after {
  content: " ";
  display: table;
}

.article:after {
  clear: both;
}

.article:not(:last-child) {
  margin-bottom: 30px;
}

.article.no-photo {
  min-height: 0;
}

.article.no-photo .lead-text {
  width: 100%;
  padding-left: 0;
}

.article.highlight-article {
  background-color: #fff8d9;
}

.article.highlight-article .article-title {
  width: calc(100% - 30px);
}

.article.highlight-article .article__decoration {
  display: block;
}

.article .article-title {
  display: block;
  text-align: left;
  margin: 0 0 20px;
}

.article .article-title a {
  font-size: 2.2rem;
  color: #538c33;
  line-height: 26px;
  text-decoration: none;
}

.article .article-title a:hover {
  text-decoration: underline;
}

.article .article-date {
  color: #538c33;
  float: right;
  margin: 0;
  line-height: 34px;
}

.article .article-meta:before, .article .article-meta:after {
  content: " ";
  display: table;
}

.article .article-meta:after {
  clear: both;
}

.article .article-meta .button {
  float: left;
  text-decoration: none;
  display: block;
}

.article .article-meta .button svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #538c33;
}

.article .lead-text {
  float: left;
  padding: 0 0 0 30px;
  width: calc(100% - 369px);
}

.article .lead-main-text {
  margin: 0 0 20px;
}

.article .lead-main-text p {
  margin: 0;
}

.article .lead-main-text a {
  color: #538c33;
  text-decoration: underline;
}

.article .lead-main-text a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .photo-wrapper {
    width: 280px;
  }
  .photo-wrapper svg {
    width: 280px;
    height: 181px;
  }
  .article {
    width: 100%;
    transform: none;
  }
  .article .lead-text {
    width: calc(100% - 280px);
  }
}

@media only screen and (max-width: 767px) {
  .photo-wrapper {
    float: none;
    margin: 0 auto 20px;
  }
  .article .lead-text {
    float: none;
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .photo-wrapper {
    width: 260px;
  }
  .photo-wrapper svg {
    width: 260px;
    height: 168px;
  }
}

.pagination-wrapper {
  text-align: center;
  margin: 5px 0 60px;
}

.pagination-wrapper > p {
  color: #538c33;
  font-weight: normal;
}

.pagination-wrapper ul {
  font-size: 0;
}

.pagination-wrapper ul li {
  font-size: 1.6rem;
  padding: 0;
}

.pagination-wrapper ul li a, .pagination-wrapper ul li span {
  font-family: 'Roboto Slab Bold', sans-serif;
  width: 34px;
  height: 34px;
  background-color: #ffd200;
  color: #538c33;
  line-height: 34px;
  margin: 0 3px;
}

.pagination-wrapper ul li span {
  display: inline-block;
  text-shadow: 0px 1px 1px #316514;
}

.pagination-wrapper ul li a {
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.pagination-wrapper ul li a svg {
  transition: fill .3s ease-in-out;
  fill: #538c33;
}

.pagination-wrapper ul li a:hover {
  text-shadow: 0px 1px 1px #316514;
  text-decoration: none;
  background-color: #538c33;
  color: #ffd200;
}

.pagination-wrapper ul li a:hover svg {
  fill: #ffd200;
}

.pagination-wrapper ul li .page-active {
  color: #ffd200;
  background-color: #538c33;
}

.pagination-wrapper ul li .btn-prev svg, .pagination-wrapper ul li .btn-first svg {
  transform: rotate(180deg) translateY(2px);
}

@media only screen and (max-width: 1199px) {
  .pagination-wrapper {
    margin: 10px 0 15px;
  }
}

.gallery-wrapper:before, .gallery-wrapper:after {
  content: " ";
  display: table;
}

.gallery-wrapper:after {
  clear: both;
}

.gallery-wrapper .gallery {
  font-size: 0;
  text-align: center;
}

.gallery-wrapper .gallery li {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.gallery-wrapper .gallery a {
  display: block;
  margin: 0 auto;
  width: 369px;
  text-decoration: none !important;
}

.gallery-wrapper .gallery a svg {
  transition: transform .3s ease-in-out;
  display: block;
  margin: 0 auto;
  stroke: #ffd200;
  width: 369px;
  height: 239px;
}

.gallery-wrapper .gallery a:hover {
  text-decoration: none;
}

.gallery-wrapper .gallery a:hover svg {
  transform: scale(1.1);
}

.gallery-wrapper .gallery a:hover .photo-name {
  color: #346817;
}

.gallery-wrapper .photo-name {
  text-align: center;
  background-color: #fff;
  z-index: 2;
  margin: 0;
  padding: 5px 15px 15px;
  font-size: 1.6rem;
  color: #538c33;
}

@media only screen and (max-width: 1199px) {
  .gallery-wrapper .gallery a {
    width: 346px;
  }
  .gallery-wrapper .gallery a svg {
    width: 310px;
    height: 201px;
  }
}

@media only screen and (max-width: 767px) {
  .gallery-wrapper .gallery li {
    width: 100%;
  }
  .gallery-wrapper .gallery a {
    width: 290px;
  }
  .gallery-wrapper .gallery a svg {
    width: 290px;
    height: 188px;
  }
  .gallery-wrapper .photo-name {
    padding: 8px;
  }
}

.txt_err {
  color: #ff0000;
  background-color: #ffd200;
  border: 2px solid #ff0000;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Titillium SemiBold', sans-serif;
}

.txt_msg {
  color: #538c33;
  border: 2px solid #538c33;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-family: 'Titillium SemiBold', sans-serif;
}

.txt_com {
  color: #505050;
  background: #fff;
  border: 2px solid #505050;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Titillium SemiBold', sans-serif;
}

.txt_err p, .txt_com p, .txt_msg p {
  margin: 0;
}

#content_txt .txt_err a, #content_txt .txt_err a:visited {
  text-decoration: underline;
  color: #ff0000;
}

#content_txt .txt_err a:hover, #content_txt .txt_err a:visited:hover {
  text-decoration: none;
}

#content_txt form {
  margin-top: 20px;
}

.inError {
  background-color: #ffd200 !important;
  color: #505050 !important;
}

.inText,
.inTextSmall,
.inTextArea {
  display: block !important;
  max-width: 340px;
  width: 100%;
}

.inText,
.inTextSmall {
  height: 41px;
}

.inTextArea {
  height: 180px;
}

.anchor {
  position: relative;
  height: 0;
  width: 0;
  top: -60px;
  display: block;
}

.formL {
  width: 150px;
  float: left;
  text-align: right;
  padding: 0 20px 0 0;
  min-height: 34px;
}

.formL label, .formL .label {
  padding: 9px 0 0;
  font-weight: normal;
  margin: 0;
  line-height: 16px;
}

.formR {
  float: right;
  width: calc(100% - 150px);
  margin: 0 0 10px 0;
  position: relative;
}

.formR:before, .formR:after {
  content: " ";
  display: table;
}

.formR:after {
  clear: both;
}

.formR.radio label {
  position: relative;
  padding: 0 20px 0 0;
  display: inline-block;
}

.formR.radio label input[type="radio"] {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  left: 1px;
}

.formR.radio label input[type="radio"] + span {
  position: relative;
  z-index: 2;
  margin: 0 0 10px;
  padding: 0 0 0 26px;
  font-size: 1.3rem;
  white-space: normal;
  border-radius: 0;
}

.formR.radio label input[type="radio"] + span:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #346817;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.formR.radio label input[type="radio"] + span:after {
  content: '';
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #ffd200;
}

.formR.radio label input[type="radio"]:checked + span:after {
  display: block;
}

.formR.login {
  padding: 0;
}

.formR p {
  margin: 10px 0;
}

.formR .msgMarg:empty {
  display: none;
}

.formR .button-wrapper {
  margin-bottom: 10px;
}

.msgMarg {
  margin: 5px 0;
  font-size: 1.2rem;
  display: inline-block;
}

.msgError {
  color: #ff0000;
}

#avatar_f {
  position: absolute;
  left: 0;
  top: -8px;
  width: 320px;
  height: 50px;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

.forumAvatarImage {
  border: 2px solid #538c33;
  max-width: 55px !important;
  height: auto !important;
}

.avatarFrameImage {
  border: 2px solid #538c33;
}

.asterisk {
  color: #538c33;
  margin-right: 5px;
}

.login {
  padding-top: 5px;
  font-family: 'Titillium SemiBold', sans-serif;
}

.captchaTxt {
  margin: 0 10px 0 0;
  float: left;
  line-height: 34px;
}

.captchaTxt + input {
  width: 50px;
}

.comment {
  padding: 0;
}

@media only screen and (max-width: 639px) {
  .formL {
    width: 135px;
    padding: 0 12px 0 0;
  }
  .formR {
    width: calc(100% - 135px);
  }
  .formR input[type="submit"], .formR .butForm {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 479px) {
  .formL {
    float: none;
    width: auto;
    text-align: left;
    min-height: 0;
    padding: 0 0 5px;
  }
  .formR {
    width: 100%;
    float: none;
  }
  .formR .button-wrapper {
    margin-top: 5px;
  }
  .inText,
  .inTextSmall,
  .inTextArea {
    width: 100%;
  }
  #editForm .clear, #loginForm .clear, #registerForm .clear, #addForm .clear, #delForm .clear, .form-login .clear {
    display: none;
  }
}

#forumActions {
  float: right;
  margin: 0;
  padding: 0;
}

#forumActions li {
  float: left;
  list-style-type: none;
}

#forumActions li:first-child {
  margin: 0 5px 10px 0;
}

.tableTopics {
  width: 100%;
  margin: 10px 0 10px 0;
}

.tableTopics th.topics, .tableTopics th.responds, .tableTopics td.topics, .tableTopics td.responds {
  text-align: center;
  width: 100px;
}

.tableTopics p {
  margin: 0;
}

#content_txt .topicLink, #content_txt .topicLink:visited {
  color: #346817;
  text-decoration: underline;
}

#content_txt .topicLink:hover, #content_txt .topicLink:visited:hover {
  text-decoration: none;
}

.respondButtonList {
  margin: 10px 0;
}

.respondButtonList li {
  list-style-type: none;
  float: left;
  border: none !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.forum-wrapper .subHead {
  padding-bottom: 0;
}

.forum-wrapper .subHead:before {
  display: none;
}

.forum-wrapper .author {
  display: block;
  color: #505050;
  word-wrap: break-word;
  padding-top: 10px;
}

.forum-threads-wrapper {
  margin: 50px 0;
  border-top: 2px solid #ffd200;
  padding: 0 0 25px;
  border-bottom: 2px solid #ffd200;
}

.forum-answers-wrapper {
  margin: 50px 0;
}

.listPosts {
  margin: 0;
  padding: 0;
}

.listPosts li {
  list-style-type: none;
  border-bottom: 2px solid #ffd200;
}

.listPosts > li {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.topicText, .postText {
  padding: 10px 0;
  position: relative;
}

.topicAuthor, .postAuthor {
  padding: 0 0 10px 0;
  float: left;
  width: 90px;
  text-align: center;
  position: relative;
  margin: 10px 0 0 0;
}

.topicDate, .postDate {
  position: absolute;
  right: 0;
  top: 20px;
  color: #505050;
}

.topicHour, .postHour {
  position: absolute;
  right: 0;
  top: 35px;
  color: #505050;
}

.topicContent, .postContent {
  padding: 10px;
  float: left;
  width: 530px;
  color: #505050;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 767px) {
  .forum-threads-wrapper {
    margin: 30px 0;
  }
  .forum-answers-wrapper {
    margin: 30px 0;
  }
  .tableTopics th.topics, .tableTopics th.responds, .tableTopics td.topics, .tableTopics td.responds {
    width: 85px;
  }
  .topicContent, .postContent {
    width: 100%;
  }
}

#advertsLeftContent {
  margin-bottom: 30px;
  width: calc(100% - 15px);
}

.advertTop, .advertLeft {
  text-align: center;
  padding: 15px;
}

.advertTop iframe, .advertTop object, .advertLeft iframe, .advertLeft object {
  max-width: 100%;
  height: auto;
}

.advertTop table, .advertLeft table {
  table-layout: auto;
  margin: 5px auto;
  max-width: 700px;
}

.advertTop img, .advertLeft img {
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
  display: block;
}

.advertTop a, .advertLeft a {
  text-decoration: underline;
}

.advertTop a:hover, .advertTop a:focus, .advertLeft a:hover, .advertLeft a:focus {
  text-decoration: none;
}

.advertTop img {
  max-width: 700px;
}

.advertLeft {
  text-shadow: 0px 1px 1px #316514;
  color: #fff;
}

.advertLeft h1, .advertLeft h2, .advertLeft h3, .advertLeft h4, .advertLeft h5, .advertLeft h6 {
  color: #fff;
}

.advertLeft blockquote {
  color: #fff;
  border-left-color: #fff;
}

.advertLeft table th, .advertLeft table td {
  border-color: #fff;
}

.advertLeft a {
  color: #fff;
}

.advertLeft img {
  max-width: 196px;
}

@media only screen and (max-width: 1199px) {
  #advertsLeftContent {
    width: 100%;
  }
  .advertTop {
    padding: 15px 0;
  }
  .advertTop img {
    max-width: 682px;
  }
  .advertLeft img {
    max-width: 207px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #advertsLeftContent {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 991px) {
  #advertsTopWrapper {
    background-color: #fff;
    padding: 0 15px;
    margin: 15px auto 0;
  }
  .advertTop img {
    max-width: 100%;
  }
  .advertLeft img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 991px) {
  #advertsTopWrapper {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }
}

@media only screen and (max-width: 359px) {
  .advertLeft img {
    max-width: 260px;
  }
}

.icon__path--1 {
  fill: #558838;
}

.icon__path--2 {
  fill: #ffd200;
}

.icon__path--3 {
  fill: #528635;
}

.icon__path--4 {
  fill: #346817;
}

.icon__path--5 {
  fill: #538c33;
}

.icon-kzk .icon__path--2 {
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-family: 'Titillium SemiBold', sans-serif;
  font-size: 20px;
}
