#advertsLeftContent {
	margin-bottom: 30px;
	width: calc(100% - 15px);
}
.advertTop, .advertLeft {
	text-align: center;
	padding: 15px;
	iframe, object {
		max-width: 100%; 
		height: auto;
	}
	table {
		table-layout: auto;
		margin: 5px auto;
		max-width: 700px;
	}
	img {
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
		display: block;
	}
	a {
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.advertTop {
	img {
		max-width: 700px;
	}
}
.advertLeft {
	text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
	color: #fff;
	h1,h2,h3,h4,h5,h6 {
		color: #fff;
	}
	blockquote {
		color: #fff;
		border-left-color: #fff;
	}
	table {
		th, td {
			border-color: #fff;
		}
	}
	a {
		color: #fff;
	}
	img {
		max-width: 196px;
	}
}
@media only screen and (max-width: 1199px) {
	#advertsLeftContent {
		width: 100%;
	}
	.advertTop {
		padding: 15px 0;
		img {
			max-width: 682px;
		}
	}
	.advertLeft {
		img {
			max-width: 207px;
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#advertsLeftContent {
		margin-top: 15px;
	}
}
@media only screen and (max-width: 991px) {
	#advertsTopWrapper {
		background-color: #fff;
		padding: 0 15px;
		margin: 15px auto 0;
	}
	.advertTop {
		img {
			max-width: 100%;
		}
	}
    .advertLeft {
    	img {
    		max-width: 300px; 
    	}
    }
}
@media only screen and (max-width: 991px) {
	#advertsTopWrapper {
		width: calc(100% + 30px);
		transform: translateX(-15px);
	}
}
@media only screen and (max-width: 359px) {
    .advertLeft {
    	img {
    		max-width: 260px; 
    	}
    }
}