#welcome {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.article-wrapper-home {
    position: relative;
}
.photo-wrapper {
    width: 369px;
    float: left;
    svg {
        transition: transform .3s ease-in-out, stroke .3s ease-in-out, fill .3s ease-in-out;
        stroke: $tertiary; 
        width: 369px;
        height: 239px;
    }
    &:hover {
        svg {
            transform-origin: 50% 50%;
            transform: scale(1.1);
        }
    }
}
.article__decoration {
    display: none;
    width: 24px;
    height: 46px;
    top: 0;
    right: 10px;
    position: absolute;
    .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        fill: $tertiary;
    }
    .star {
        position: absolute;
        top: 11px;
        right: 4px;
        z-index: 3;
        fill: $primary;
    }
}
.article {
    @include clearfix();
    width: calc(100% + 15px);
    transform: translateX(-15px);
    padding: 15px;
    position: relative;
    z-index: 6;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &.no-photo {
        min-height: 0;
        .lead-text {
            width: 100%;
            padding-left: 0;
        }
    }
    &.highlight-article {
        background-color: #fff8d9;
        .article-title {
            width: calc(100% - 30px);
        }
        .article__decoration {
            display: block;
        }
    }
    .article-title {
        display: block;
        text-align: left;
        margin: 0 0 20px;
       a {
           font-size: 2.2rem;
           color: $primary;
           line-height: 26px;
           text-decoration: none;
           &:hover {
               text-decoration: underline;
           }
       }
    }
    .article-date {
        color: $primary;
        float: right;
        margin: 0;
        line-height: 34px;
    }
    .article-meta {
        @include clearfix();
        .button {
            float: left;
            text-decoration: none;
            display: block;
            svg {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                fill: $primary;
            }
        }
    }
    .lead-text {
        float: left;
        padding: 0 0 0 30px;
        width: calc(100% - 369px);
    }
    .lead-main-text {
        margin: 0 0 20px;
        p {
            margin: 0;
        }
        a {
            color: $primary;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .photo-wrapper {
        width: 280px;
        svg {
            width: 280px;
            height: 181px;
        }
    }
    .article {
        width: 100%;
        transform: none;
        .lead-text {
            width: calc(100% - 280px);
        }
    }
}
@media only screen and (max-width: 767px) {
    .photo-wrapper {
        float: none;
        margin: 0 auto 20px;
    }
    .article {
        .lead-text {
            float: none;
            width: 100%;
            padding: 0;
        }
    }
}
@media only screen and (max-width: 400px) {
    .photo-wrapper {
        width: 260px;
        svg {
            width: 260px;
            height: 168px;
        }
    }
}