.footer {
    width: 1140px;
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
    margin: 0 auto 120px;
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.footer--mobile {
    display: none;
}
@media only screen and (max-width: 1199px) {
    .footer {
        width: 940px;
    }
}
@media only screen and (max-width: 991px) {
    .footer {
        display: none;
    }
    .footer--mobile {
        display: block;
        text-align: center;
        padding: 15px;
        font-size: 1.6rem;
        font-family: 'Titillium SemiBold', sans-serif;
        background-color: $tertiary;
        color: $primary;
        a {
            color: $primary;
            margin: 0 5px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}