.gallery-wrapper {
	@include clearfix();
    .gallery {
    	font-size: 0;
    	text-align: center;
		li {
			width: 50%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
        }
		a {
			display: block;
			margin: 0 auto;
			width: 369px;
			text-decoration: none !important;
			svg {
				transition: transform .3s ease-in-out;
				display: block;
				margin: 0 auto;
				stroke: $tertiary;
				width: 369px;
				height: 239px;
            }
            &:hover {
            	text-decoration: none;
            	svg {
            		transform: scale(1.1);
            	}
				.photo-name {
					color: $secondary;
				}
            }
    	}
    }
    .photo-name {
		text-align: center;
		background-color: #fff;
		z-index: 2;
		margin: 0;
		padding: 5px 15px 15px;
		font-size: 1.6rem;
		color: $primary;
    }
}
@media only screen and (max-width: 1199px) {
	.gallery-wrapper {
		.gallery {
			a {
				width: 346px;
				svg {
					width: 310px;
					height: 201px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.gallery-wrapper {
		.gallery {
			li {
				width: 100%;
			}
			a {
				width: 290px;
				svg {
					width: 290px;
					height: 188px;
				}
			}
		}
		.photo-name {
			padding: 8px;
		}
	}
}