.top {
	position: relative;
}
.top__mask {
	position: absolute;
	overflow: hidden;
	border-top-left-radius: 15px;
	z-index: 11;
	width: 500px;
	height: 100%;
	pointer-events: none;
	top: 0;
	left: 0;
	& > div {
		position: absolute;
	    border: 5px solid $tertiary;
		background-color: rgb(83,140,51);
		border-radius: 50%;
		bottom: 0;
		left: -100%;
		width: 200%;
		height: 200%;
	}
}
.header {
	@include clearfix();
	height: 445px;
	position: relative;
	top: 0;
	margin-bottom: -7px;
	border-top-right-radius: 15px;
}
.header__info {
	position: absolute;
	top: 55px;
	left: 30px;
	z-index: 12;
}
.header__object {
	position: absolute;
	bottom: -135px;
	right: -82px;
	z-index: 0;
}
.header__title {
	color: $tertiary;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	width: 335px;
	margin: 0 0 38px;
	padding: 0;
	font-size: 2.6rem;
	line-height: 30px;
	font-family: 'Roboto Slab Bold', serif;
	font-weight: normal;
}
.header__address {
	color: $tertiary;
	width: 285px;
	font-size: 1.6rem;
	line-height: 20px;
	font-family: 'Titillium SemiBold', sans-serif;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	p {
		margin: 0;
	}
	a {
		margin-top: 15px;
		color: $tertiary;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
#banner {
	height: 421px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
	.banner-outer {
		position: relative;
		stroke: $tertiary;
		fill: transparent;
		width: 1140px;
	 	height: 450px;
	 	z-index: 9;
	 	top: -2px;
	}
	.owl-carousel {
	 	position: absolute;
	 	right: 0;
	 	top: 0;
		overflow: hidden;
		border-top-right-radius: 15px;
		.banner-photo {
			position: static;
		}
	}
	.banner-photo {
		top: 0;
		position: absolute;
		right: 0;
		width: 100%;
		 svg {
			width: 1140px;
		 	height: 450px;
		 }
	}
}
@media only screen and (max-width: 1199px) {
    .top__mask {
        width: 405px;
    }
    .header {
    	top: 0;
    }
	.header, #banner {
		height: 378px;
	}
	#banner {
		.banner-outer {
			width: 970px;
			height: 382px;
		}
		.banner-photo {
			svg {
				width: 970px;
				height: 382px;
			}
		}
	}
	.header__info {
		top: 55px;
	}
	.header__title {
		width: 320px;
		margin-bottom: 20px;
	}
	.header__address {
		width: 320px;
	}
}
@media only screen and (max-width: 991px) {
	.top {
		position: static;
	}
	.top__mask {
		display: none;
	}
	.header {
		position: static;
		height: auto;
		width: 720px;
		margin: 0 auto 20px;
	}
	.header__holder {
		position: relative;
	}
	.header__object {
		bottom: 0;
		right: -30px;
	}
	#banner {
		height: 290px;
		.banner-outer {
			top: 0;
			width: 720px;
			height: 284px;
		}
		.banner-photo {
			svg {
				width: 720px;
				height: 284px;
			}
		}
	}
	.header__info {
		display: none;
	}
	.header__title {
		position: absolute;
		z-index: 1;
		top: 15px;
		left: 15px;
		width: 240px;
		font-size: 2.2rem;
		line-height: 26px;
		margin: 0;
	}
	.header__address {
		padding: 290px 15px 15px;
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 1;
	}
}
@media only screen and (max-width: 767px) {
	.header {
		width: 100%;
	}
	#banner {
		height: auto;
		position: static;
		.banner-outer {
			width: 100%;
			height: auto;
		}
		.banner-photo {
			svg {
				width: 100%;
				height: auto;
			}
		}
	}
	.header__title {
		text-align: center;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		width: 100%;
		padding: 15px;
	}
	.header__address {
		padding-top: 0;
	}
}
@media only screen and (max-width: 479px) {
	.header__title {
		padding-left: 0;
		padding-right: 0;
	}
	.header__address {
		padding: 0 0 15px;
	}
}