.icon__path--1 {
	fill: $primary-2;
}
.icon__path--2 {
	fill: $tertiary;
}
.icon__path--3 {
	fill: rgb(82,134,53);
}
.icon__path--4 {
	fill: $secondary;
}
.icon__path--5 {
	fill: $primary;
}
.icon-kzk {
	.icon__path--2 {
		font-kerning: auto;
		font-family: 'Titillium SemiBold', sans-serif;
		font-size: 20px;
	}
}