.menu-top {
    @include clearfix();
    width: calc(100% - 2px);
    position: relative;
    bottom: 0;
    z-index: 10;
    background-color: $tertiary;
}
#navbar-top {
    float: right;
    width: 900px;
    padding: 0 20px 0 15px;
    font-family: 'Roboto Slab Bold', serif;
    & > ul {
        text-align: center;
        font-size: 0;
        background-color: $tertiary;
        & > li {
            display: inline-block;
        }
        li {
            max-width: 100%;
        }
        .dropdown-menu {
            float: none;
            transform: translateX(-50%);
            width: 220px;
            left: 50%;
            background-color: $tertiary;
            text-align: center;
            li {
                display: block;
                a {
                    font-size: 1.4rem;
                }
            }
        }
        a {
            display: block;
            transition: background-color .3s ease-in-out;
            -webkit-user-callout: none;
            -webkit-user-select: none;
            padding: 14px 7px;
            font-size: 1.6rem;
            line-height: 20px;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
            color: $primary-2;
            outline-offset: -2px !important;
            svg {
                transform: translateY(-1px);
            }
            &:hover {
                background-color: $secondary;
                color: $tertiary;
                text-decoration: none;
                text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
                svg {
                    fill: $tertiary;
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    #navbar-top {
        width: 620px;
    }
    .menu-top__decoration {
        width: 970px;
        height: 382px;
    }
}
@media only screen and (max-width: 991px) {
    .menu-top__decoration {
        display: none;
    }
    .menu-top {
        overflow: visible;
        background-color: $tertiary;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
    }
    #navbar-top {
        width: 100%;
        margin: 0;
        height: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        & > ul {
            a {
                transition: none;
            }
        }
        &.in {
            pointer-events: auto;
            opacity: 1;
            height: auto;
            & > ul {
                .dropdown-menu {
                    position: static;
                    width: 100%;
                    padding: 0;
                    border: 0;
                    margin: 0;
                    box-shadow: none;
                    border-radius: 0;
                    transform: none;
                    li {
                        a {
                            padding: 14px 15px;
                            font-size: 1.3rem;
                        }
                    }
                }
                & > li {
                    display: block;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        float: none;
        display: block;
        width: 100%;
        padding: 13px 15px;
        margin: 0;
        i {
            margin-left: 0;
            pointer-events: none;
            transition: transform .3s ease-in-out, opacity .3s ease-in-out;
            display: block;
            width: 36px;
            height: 3px;
            background-color: $primary;
            &:not(:last-of-type) {
                margin-bottom: 7px;
            }
        }
        &[aria-expanded="true"] {
            i {
                &:first-of-type {
                    transform: rotate(45deg) translateX(8px) translateY(7px);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:last-of-type {
                    transform: rotate(-45deg)  translateX(7px) translateY(-6px);
                }
            }
        }
    }
}