#modules-top2 {
	width: calc(100% + 15px);
	transform: translateY(-39px) translateX(15px);
	.module {
		&:before, &:after {
			top: 0;
		}
		&:before {
			left: -6px;
			border-width: 0 0 10px 6px;
			border-color: transparent transparent $secondary transparent;
		}
		&:after {
			right: -6px;
			border-width: 10px 0 0 6px;
			border-color: transparent transparent transparent $secondary;
		}
	}
}
#modules-bottom-desktop {
	@include clearfix();
	width: calc(100% - 266px);
	display: block;
	min-height: 263px;
	position: relative;
	border-bottom: 5px solid $tertiary;
	border-right: 5px solid $tertiary;
	background-color: #fff;
	float: right;
	transform: translateX(-1px);
	&:before {
		content: '';
		display: block;
		background-color: #fff;
		width: 3px;
		height: calc(100% - 5px);
		top: 0;
		bottom: 5px;
		left: -2px;
		position: absolute;
	}
}
#modules-bottom {
	position: absolute;
	bottom: -15px;
	right: -5px;
	width: 100%;
	.module {
		&:before, &:after {
			bottom: 0;
		}
		&:before {
			left: -6px;
			border-width: 0 6px 10px 0;
			border-color: transparent $secondary transparent transparent;
		}
		&:after {
			right: -6px;
			border-width: 10px 6px 0 0;
			border-color: $secondary transparent transparent transparent;
		}
	}
}
.modules-content {
	position: relative;
	font-size: 0;
	text-align: center;
	.module {
		color: $base;
		background-color: $tertiary;
		display: inline-block;
		font-size: 1.4rem;
		line-height: 18px;
		vertical-align: top;
		margin-right: 30px;
		padding: 46px 40px 36px;
		position: relative;
		z-index: 9;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
		}
		a {
			color: $base;
		}
	}
	h2 {
		text-align: center;
		margin: 16px 0;
		color: $secondary;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
	}
	.module-3 {
		width: calc(33.3333% - 20px);
	}
	.module-2 {
		width: calc(50% - 15px);
	}
	.module-1 {
		width: 100%;
		height: auto !important;
	}
	#mod_forum {
		.modules-content__content {
			font-size: 0;
		}
		.button {
			font-size: 1.6rem;
			color: $tertiary !important;
			background-color: $primary;
			text-shadow: 0px 1px 0 rgba(0,0,0,0.6);
			svg {
				fill: $tertiary;
			}
			&:hover {
				background-color: $primary + #222;
			}
		}
	}
	#mod_contact {
		a, a span {
			color: $base !important;
		}
		.modules-content__icon {
			svg {
				transform: translateX(-50%) translateY(-40%);
			}
		}
	}
}
.modules-content__icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 50%;
	border: 5px solid $primary;
	background-color: #336716;
	position: relative;
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
@media only screen and (max-width: 1199px) {
	.modules-content {
		.module {
			padding: 20px;
		}
		h2 {
			margin: 10px 0;
		}
	}
}
@media only screen and (max-width: 991px) {
	#modules-top2, #modules-bottom {
		transform: none;
		width: 100%;
		margin: 20px auto;
		position: static;
	}
	#modules-bottom-desktop {
		display: none;
	}
	.modules-content {
		.module {
			&:before, &:after {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.modules-content {
		.module {
			display: block;
			max-width: 280px;
			width: 100%;
			margin: 20px auto;
			height: auto !important;
			&:last-child {
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
	}
}