#mod_stats {
	.stats-count {
		font-weight: 'Titillium SemiBold', sans-serif;
		color: $tertiary;
	}
}

#mod_contact {
	p {
		margin: 0;
	}
	a[href^="mailto:"] {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
#mod_login {
	fieldset {
		@include clearfix();
		width: 200px;
		display: block;
		margin: 0 auto;
	}
	label {
		font-family: 'Titillium SemiBold', sans-serif;
		width: 60px;
		padding: 0;
		display: block;
		float: left;
		margin: 0;
		color: #fff; 
	}
	input[type="text"], input[type="password"] {
		width: 138px;
		display: block;
		float: left;
		margin: 0 0 5px;
	}
	.user-avatar {
		text-align: center;
		margin-bottom: 5px;
		img {
			border-width: 1px;
			border-style: solid;
		}
	}
	.user-name {
		text-align: center;
		margin-bottom: 5px;
		a {
			text-decoration: underline;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.button, .buttonWrapper {
		display: inline-block;
		position: relative;
		svg {
			fill: $primary;
			position: absolute;
			transform: translateY(-50%);
			top: 54%;
			z-index: 2;
			left: 11px;
		}
	}
}
#mod_forum {
	.button {
		margin-top: 5px;
		svg {
			left: 8px;
			top: 58%;
		}
	}
	#modForum, .bolder {
		display: none;
	}
}
#mod_weather {
	text-align: center;
	h2 {
		text-align: left;
	}
	.weatherLoc {
		font-family: 'Roboto Slab Bold', serif;
	}
	.weatherTemp {
		font-family: 'Roboto Slab Bold', serif;
		font-size: 2.8rem;
	}
}
#mod_calendar2 {
	.caption_nav_prev, .caption_nav_next {
		position: absolute;
		top: 0;
		z-index: 2;
		a {
			position: relative;
			width: 34px;
			height: 34px;
			background-color: $tertiary;
			box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: 0;
				height: 0;
				border-style: solid;
			}
			i {
				display: none;
			}
			&:hover {
				background-color: $tertiary - #111;
			}
		}
	}
	.caption_nav_prev {
		left: -10px;
		a {
			&:before {
				border-width: 6px 10px 6px 0;
				border-color: transparent $primary transparent transparent;
			}
		}
	}
	.caption_nav_next {
		right: -10px;
		a {
			&:before {
				border-width: 6px 0 6px 10px;
				border-color: transparent transparent transparent $primary;
			}
		}
	}
	#calendarNews {
		position: relative;
	}
	.calendar {
		transform: translateX(-10px);
		caption {
			text-align: center;
			font-size: 1.6rem;
			line-height: 20px;
			padding: 7px;
			margin: 0 0 10px;
			color: #fff;
		}
		td, th {
			text-align: center;
			color: $tertiary;
			width: 34px;
			height: 32px;
			border-top: 0;
			border-bottom: 0;
			font-family: 'Titillium SemiBold', sans-serif;
			padding: 0;
		}
		th {
			text-transform: uppercase;
			background-color: $secondary;
			font-size: 1.2rem;
			color: $tertiary;
			&:last-child {
				border-right: 1px solid $secondary;
			}
		}
		td {
			border-left: 1px solid $secondary;
			border-right: 1px solid $secondary;
			&.pr_day {
				background-color: $secondary;
				color: $tertiary !important;
			}
		}
		a {
			display: block;
			width: 33px;
			height: 32px;
			background-color: $tertiary;
			color: $primary;
			text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
			line-height: 32px;
			text-decoration: none;
			&:hover {
				background-color: $tertiary - #111;
			}
		}
	}
}
#mod_calendar {
	.module-content {
		.week-day, .name-day {
			span {
				display: block;
				font-weight: 'Titillium SemiBold', sans-serif;
			}
		}
	}
	.clock-container {
		position: absolute;
		display: none;
		top: 0;
		right: 0;
		width: 62px;
		height: 62px;
		padding: 3px;
		border-radius: 50%;
		background-color: $secondary;
		border: 6px solid $primary;
		svg {
			width: 44px;
			height: 44px;
		}
	}
}
#mod_questionnaire {
	.button-wrapper {
		position: relative;
		display: inline-block;
		text-align: center;
		margin-top: 10px;
		svg {
			z-index: 2;
			fill: $primary;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 8px;
		}
	}
	li {
		max-width: 224px;
		position: relative;
	}
	p {
		font-family: 'Titillium SemiBold', sans-serif;
	}
	input[type="radio"] {
		width: 14px;
		height: 14px;
		margin: 0;
		padding: 0;
		top: 1px;
		left: 1px;
		position: absolute;
		& + label {
			position: relative;
			z-index: 2;
			padding-left: 26px;
			line-height: 17px;
			margin: 0 0 10px;
			.radio {
				display: none;
			}
			.label {
				color: $base;
				padding: 0;
				font-size: 1.4rem;
				line-height: 18px;
				white-space: normal;
				border-radius: 0;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				cursor: pointer;
				border-radius: 50%;
			}
			&:before {
				display: block;
				width: 16px;
				height: 16px;
				background-color: $secondary;
				left: 0;
				top: 0;
			}
			&:after {
				width: 6px;
				height: 6px;
				background-color: $tertiary;
				display: none;
				left: 5px;
				top: 5px;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
}
@media only screen and (max-width: 1199px) {
	#mod_calendar2 {
		.calendar {
			td, th {
				width: 31px;
				height: 31px;
			}
			a {
				line-height: 31px;
			}
		}
	}
	#mod_questionnaire {
		li {
			max-width: 200px;
		}
	}
}
@media only screen and (max-width: 991px) {
	#mod_calendar2 {
		#calendarNews {
			width: 238px;
			margin-left: auto;
			margin-right: auto;
		}
		.caption_nav_prev {
			left: 0;
		}
		.caption_nav_next {
			right: 0;
		}
		.calendar {
			transform: none;
		}
	}
	#mod_questionnaire {
		li {
			text-align: left;
			max-width: 320px;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#mod_weather {
		h2 {
			text-align: center;
		}
	}
}
@media only screen and (max-width: 767px) {
	#mod_questionnaire {
		li {
			max-width: 214px;
		}
	}
}