.modules-top {
	text-align: center;
	margin: 45px 0 0;
	.row {
		font-size: 0;
		.col-xs-12 {
			& > div {
				display: inline-block;
				vertical-align: top;
				font-size: 1.4rem;
				max-width: 262px;
			}
		}
	}
	.module-4 {
		width: 25%;
	}
	.module-3 {
		width: 33.3333%;
	}
	.module-2 {
		width: 50%;
	}
	.module-1 {
		width: 100%;
		height: auto !important;
	}
	#mod_calendar {
		span {
			color: $tertiary;
		}
	}
	#mod_login {
		.modules-top__icon {
			svg {
				transform: translateX(-45%) translateY(-40%);
			}
		}
		.user-avatar {
			img {
				border-color: $tertiary;
			}
		}
		.user-name {
			a {
				color: $tertiary;
			}
		}
		.button {
			svg {
				fill: $primary;
			}
		}
	}
	#mod_contact {
		.modules-top__icon {
			svg {
				transform: translateX(-50%) translateY(-40%);
			}
		}
		a[href^="mailto:"] {
			color: $tertiary !important;
			span {
				color: $tertiary !important;
			}
		}
	}
}
.modules-top__icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 50%;
	border: 5px solid $tertiary;
	background-color: $secondary;
	position: relative;
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
.modules-top__name {
	margin: 14px 0;
	color: $tertiary;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.modules-top__content {
	margin: 0 auto;
	padding: 0 5px;
	max-width: 285px; 
	color: #fff;		
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	a {
		color: currentColor;
	}
	p {
		margin: 0;
	}
}
@media only screen and (max-width: 991px) {
	.modules-top {
		margin: 25px 0 0;
		.row {
			.col-xs-12 {
				& > div {
					margin: 0 auto 25px;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.modules-top {
		.module-4 {
			width: 50%;
		}
	}
}
@media only screen and (max-width: 767px) {
	.modules-top {
		.row {
			.col-xs-12 {
				& > div {
					display: block;
					width: 100%;
					max-width: 280px;
				}
			}
		}
	}
}