.pagination-wrapper {
    text-align: center;
    margin: 5px 0 60px;
    & > p {
        color: $primary;
        font-weight: normal;
    }
    ul {
        font-size: 0;
        li {
            font-size: 1.6rem;
            padding: 0;
            a, span {
                font-family: 'Roboto Slab Bold', sans-serif;
                width: 34px;
                height: 34px;
                background-color: $tertiary;
                color: $primary;
                line-height: 34px;
                margin: 0 3px;
            }
            span {
                display: inline-block;
                text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
            }
            a {
                text-decoration: none;
                text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
                svg {
                    transition: fill .3s ease-in-out;
                    fill: $primary;
                }
                &:hover {
                    text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
                    text-decoration: none;
                    background-color: $primary;
                    color: $tertiary;
                    svg {
                        fill: $tertiary;
                    }
                }
            }
            .page-active {
                color: $tertiary;
                background-color: $primary;
            }
            .btn-prev, .btn-first {
                svg {
                    transform: rotate(180deg) translateY(2px);
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .pagination-wrapper {
        margin: 10px 0 15px;
    }
}