#sidebar-menu-desktop, #sidebar-menu-mobile {
	@include clearfix();
}
.aside {
	border-right: 5px solid $tertiary;
	position: relative;
	padding: 0px;
	width: calc(25% - 46.5px);
	margin: 30px 0 0 30px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: -883px;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 878px;
		pointer-events: none;
		background-color: #fff;
		border-right: 5px solid $tertiary;
	}
}
.sidebar-menu {
	width: calc(100% + 16px);
	right: 16px;
	z-index: 9;
	background-color: $tertiary;
	position: relative;
	padding: 4px 20px 35px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: calc(100% - 22px);
		background-color: $tertiary;
		height: 29px;
		left: 0;
		top: -24px;
		right: 22px;
	}
	h2 {
		margin: 0 0 8px;
		text-align: right;
		display: block;
		color: $secondary;
		text-shadow: 0px 1px 0 rgba(255,255,255,0.6);
		&.module-name {
			margin-top: 20px;
		}
	}
	ul {
		position: relative;
		z-index: 2;
		li {
			a {
				font-size: 1.6rem;
				line-height: 20px;
				display: block;
				text-align: left;
				padding: 8px 0;
				border-bottom: 1px solid #ffe674;
				color: $primary;
				font-family: 'Roboto Slab Bold', sans-serif;
				transition: padding .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
				&:hover {
					text-decoration: none;
					background-color: $tertiary - #111;
				}
				&:focus {
					outline-width: 0;
				}
				&.selected {
					background-color: $tertiary - #111;
				}
			}
		}
	}
	.dropdown-menu {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
		width: 100%;
		float: none;
		background-color: transparent;
		box-shadow: none;
		border: 0;
		border-radius: 0;
		font-size: 1.4rem;
		margin: 0;
		padding: 0;
		li {
			a {
				padding-left: 15px;
				color: $primary;
			}
			li {
				a {
					padding-left: 30px;
				}
			}
		}
	}
}
.sidebar-menu__object {
	position: absolute;
	top: -86px;
	left: -107px;
	z-index: -1;
}
.sidebar-menu__decoration {
	position: absolute;
	overflow: hidden;
	&.top {
		top: -24px;
		right: -5px;
		width: 29px;
		height: 29px;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			box-sizing: content-box;
			width: 58px;
			height: 58px;
			border-radius: 50%;
			right: 0;
			transform: translateX(50%);
			top: -74px;
			border: 40px solid $tertiary;
			background: transparent;
		}
		&:after {
			border-radius: 50%;
			width: 58px;
			height: 58px;
			left: 0;
			top: -29px;
			border: 5px solid $tertiary;
		}
	}
	&.bottom {
		width: 29px;
		height: 58px;
		bottom: -27px;
		right: -5px;
		&:before {
			border-radius: 50%;
			border: 5px solid $tertiary;
			background-color: #fff;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 58px;
			height: 58px;
		}
	}
}
.sidebar-modules {
	width: 258px;
	position: relative;
	left: -16px;
	z-index: 9;
	.module {
		position: relative;
		padding: 26px 20px 30px;
		&.module--icon {
			.icon {
				position: absolute;
				top: 0;
				right: 0;
			}
			.content {
				width: calc(100% - 65px);
			}
			.module-content {
				min-height: 60px;
			}
		}
		h2 {
			margin: 0 0 15px;
		}
		.icon {
			width: 60px;
			height: 60px;
			margin: 0 auto;
			border-radius: 50%;
			position: relative;
			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		.buttonWrapper, .button, .button-wrapper {
			svg {
				pointer-events: none;
			}
		}
		.module-content {
			position: relative;
		}
		&#mod_login {
			label {
				text-align: right;
				padding-right: 20px;
			}
			.buttonWrapper, .button {
				margin-left: 40px;
			}
		}
		&#mod_calendar {
			.clock-container {
				display: block;
			}
			.module-content {
				min-height: 62px;
			}
			p {
				margin: 0 0 15px;
				width: calc(100% - 65px);
				&:last-child {
					margin: 0;
				}
			}
		}
		&#mod_forum {
			.module-content {
				margin-top: -40px;
				.content {
					width: 100%;
					font-size: 0;
					padding-top: 60px;
					.button {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
.module__decoration {
	width: 29px;
	height: 58px;
	overflow: hidden;
	position: absolute;
	right: -5px;
	&:before {
		content: '';
		display: block;
		width: 58px;
		height: 58px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		border: 5px solid $tertiary;
		background-color: #fff;
	}	
}
.module__decoration--top {
	top: -29px;
}
.module__decoration--bottom {
	bottom: -29px;
}
.aside__decoration--circle {
	position: absolute;
	width: 33px;
	height: 29px;
	left: 243px;
	bottom: 259px;
	overflow: hidden;
	&:before {
		content: '';
		width: 58px;
		height: 58px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background-color: #fff;
		left: 0;
		top: 0;
		z-index: 9;
		border: 5px solid $tertiary;
	}
}
.aside__decoration--bottom {
	width: 265px;
	height: 263px;
	position: relative;
	float: left;
	z-index: 10;
	overflow-x: hidden;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before {
		top: 0;
		left: 0;
		width: calc(100% - 31px);
		height: 5px;
		z-index: 6;
		background-color: $tertiary;
	}
	&:after {
		bottom: 0;
		width: 10px;
		height: 5px;
		background-color: $tertiary;
		right: 0;
	}
	svg {
		position: absolute;
	}
	.aside__object--1 {
		width: 260px;
		height: 266px;
		fill: $tertiary;
		z-index: 4;
		bottom: 0;
		right: 5px;
	}
	.aside__object--2 {
		width: 237px;
		height: 244px;
		right: 24px;
		z-index: 3;
		bottom: 5px;
		fill: $secondary;
	}
	.aside__object--3 {
		width: 260px;
		height: 266px;
		fill: #fff;
		z-index: 5;
		bottom: 5px;
		right: 0px;
	}
	.aside__object--4 {
		z-index: 2;
		bottom: 20px;
		right: 32px;
		transform: scale(0.8);
		transform-origin: 100% 50%;
	}
	.aside__object--5 {
		top: 60px;
		left: 0;
		z-index: 2;
		transform: scale(0.8);
		transform-origin: 0 50%;
	}
}
@media only screen and (min-width: 992px), only screen and (max-width: 767px) {
	.sidebar-modules {
		.module {
			&:nth-child(odd) {
				h2 {
					color: $tertiary;
					text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
				}
				.icon {
					border: 5px solid $tertiary;
					background-color: $secondary;
				}
				.module-content {
					color: #fff;
					text-shadow: 0px 1px 1px rgba(49, 101, 20, 1); 
					a {
						color: #fff;
						&[href^="mailto:"] {
							color: #fff !important;
							text-decoration: underline;
							span {
								color: #fff !important;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
				.module__decoration {
					display: none;
				}
				&#mod_calendar {
					.clock-container {
						border-color: $tertiary;
					}
				}
				&#mod_questionnaire {
					.qBar {
						background-color: $tertiary;
					}
					.qAnswer {
						color: $tertiary;
						text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
					}
					input[type="radio"] {
						& + label {
							.label {
								color: $tertiary;
								text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
							}
						}
					}
				}
			}
			&:nth-child(even) {
				background-color: $tertiary;
				h2 {
					color: $secondary;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
				}
				.icon {
					border: 5px solid $primary;
					background-color: #336716;
				}
				.module-content {
					color: $secondary;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
					a {
						color: $secondary;
						&[href^="mailto:"] {
							color: $secondary !important;
							text-decoration: underline;
							span {
								color: $secondary !important;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
				.module__decoration {
					display: block;
				}
				.butForm, button:not(#toolbar-search):not(.navbar-toggle), input[type="submit"], .button, .button-wrapper {
					color: $tertiary !important;
					background-color: $primary;
					text-shadow: 0px 1px 0 rgba(0,0,0,0.6);
					svg {
						fill: $tertiary;
					}
					&:hover {
						background-color: $primary + #222;
					}
				}
				&#mod_login {
					label {
						color: $secondary;
					}
					.user-name {
						a {
							color: $secondary;
						}
					}
					.buttonWrapper, .button {
						svg {
							fill: $tertiary;
						}
					}
				}
				&#mod_questionnaire {
					.button-wrapper {
						svg {
							fill: $tertiary;
						}
					}
				}
				&#mod_stats {
					.stats-count {
						color: $primary;
					}
				}
				&#mod_calendar2 {
					.caption_nav_prev, .caption_nav_next {
						a {
							background-color: $primary;
							box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.6);
							&:hover {
								background-color: $secondary;
							}
						}
					}
					.caption_nav_prev {
						a {
							&:before {
								border-color: transparent $tertiary transparent transparent;
							}
						}
					}
					.caption_nav_next {
						a {
							&:before {
								border-color: transparent transparent transparent $tertiary;
							}
						}
					}
					.calendar {
						caption {
							color: $primary;
						}
						td {
							color: $primary;
							&.pr_day {
								background-color: $secondary;
								text-shadow: none;
							}
						}
						th {
							text-shadow: none;
						}
						a {
							background-color: $primary;
							color: $tertiary;
							&:hover {
								background-color: $secondary;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1199px) {
	.aside {
		margin: 30px 0 0;
		width: 242px;
		&:before {
			right: -733px;
			width: 728px;
		}
	}
	.sidebar-menu, .sidebar-modules {
		width: 100%;
		right: 0;
		left: 0;
	}
	.sidebar-menu__decoration {
		&.top {
			right: -20px;
		}
	}
	.aside__decoration--bottom {
		right: 0;
		&:before {
			width: calc(100% - 51px);
		}
	}
	.aside__decoration--circle {
		bottom: 259px;
		left: 209px;
	}
}
@media only screen and (min-width: 992px) {
	.sidebar-modules {
		.module {
			height: auto !important;
		}
	}
}
@media only screen and (max-width: 991px) {
	.sidebar-menu__decoration, .aside__decoration--bottom, .aside__decoration--circle, .module__decoration, .sidebar-menu__object {
		display: none !important;
	}
	.sidebar-menu {
		padding: 20px;
		&:before {
			display: none;
		}
	}
	.aside {
		padding: 0;
		border: 0;
		height: auto !important;
		width: 100%;
		&:before {
			display: none;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.aside {
		width: calc(100% + 18px);
		transform: translateX(-9px);
		padding: 0 15px;
	}
	.sidebar-modules {
		font-size: 0;
		margin: 20px auto;
		.module {
			width: 50%;
			text-align: center;
			vertical-align: top;
			font-size: 1.4rem;
			padding: 20px;
			display: inline-block;
			h2 {
				text-align: center;
			}
			&.module--icon {
				.content {
					padding-top: 70px;
					width: 100%;
				}
				.icon {
					right: 50%;
					transform: translateX(50%);
				}
			}
			&#mod_forum {
				.module-content {
					margin: 0;
					.content {
						padding-top: 70px;
					}
				}
			}
			&#mod_calendar {
				.module-content {
					padding-top: 75px;
				}
				.clock-container {
					right: 50%;
					transform: translateX(50%);
				}
				p {
					margin: 0 0 10px;
					width: 100%;
					span {
						display: inline;
					}
				}
			}
			&:nth-child(4n+2), &:nth-child(4n+3) {
				h2 {
					color: $tertiary;
					text-shadow: 0px 1px 1px rgba(49, 101, 20, 1);
				}
				.icon {
					border: 5px solid $tertiary;
					background-color: $secondary;
				}
				.module-content {
					color: #fff;
					text-shadow: 0px 1px 1px rgba(49, 101, 20, 1); 
					a {
						color: #fff;
						&[href^="mailto:"] {
							color: #fff !important;
							text-decoration: underline;
							span {
								color: #fff !important;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
				.module__decoration {
					display: none;
				}
				&#mod_calendar {
					.clock-container {
						border-color: $tertiary;
					}
				}
				&#mod_questionnaire {
					input[type="radio"] {
						& + label {
							.label {
								color: $tertiary;
								text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
							}
						}
					}
					.qBar {
						background-color: $tertiary;
					}
					.qAnswer {
						color: $tertiary;
						text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
					}
				}
			}
			&:nth-child(4n+1), &:nth-child(4n+4) {
				background-color: $tertiary;
				h2 {
					color: $secondary;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
				}
				.icon {
					border: 5px solid $primary;
					background-color: #336716;
				}
				.module-content {
					color: $secondary;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
					a {
						color: $secondary;
						&[href^="mailto:"] {
							color: $secondary !important;
							text-decoration: underline;
							span {
								color: $secondary !important;
							}
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
				.module__decoration {
					display: block;
				}
				.butForm, button:not(#toolbar-search):not(.navbar-toggle), input[type="submit"], .button, .button-wrapper {
					color: $tertiary !important;
					background-color: $primary;
					text-shadow: 0px 1px 0 rgba(0,0,0,0.6);
					svg {
						fill: $tertiary;
					}
					&:hover {
						background-color: $primary + #222;
					}
				}
				&#mod_login {
					label {
						color: $secondary;
					}
					.user-name {
						a {
							color: $secondary;
						}
					}
					.buttonWrapper, .button {
						svg {
							fill: $tertiary;
						}
					}
				}
				&#mod_questionnaire {
					.button-wrapper {
						svg {
							fill: $tertiary;
						}
					}
				}
				&#mod_stats {
					.stats-count {
						color: $primary;
					}
				}
				&#mod_calendar2 {
					.caption_nav_prev, .caption_nav_next {
						a {
							background-color: $primary;
							box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.6);
							&:hover {
								background-color: $secondary;
							}
						}
					}
					.caption_nav_prev {
						a {
							&:before {
								border-color: transparent $tertiary transparent transparent;
							}
						}
					}
					.caption_nav_next {
						a {
							&:before {
								border-color: transparent transparent transparent $tertiary;
							}
						}
					}
					.calendar {
						caption {
							color: $primary;
						}
						td {
							color: $primary;
							&.pr_day {
								background-color: $secondary;
							}
						}
						a {
							background-color: $primary;
							color: $tertiary;
							&:hover {
								background-color: $secondary;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.sidebar-menu {
		margin-top: 15px;
	}
	.sidebar-modules {
		width: 280px;
		margin: 20px auto;
		.module {
			height: auto !important;
		}
	}
}