.toolbar {
	min-height: 54px;
	background-color: $primary;
	color: $tertiary;
	font-family: 'Titillium SemiBold', sans-serif;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: 0 0 15px;
	padding: 9px 25px 10px;
	.col-xs-12 {
		@include clearfix();
	}
}
.toolbar__links {
	font-size: 0;
	li {
		vertical-align: bottom;
		display: inline-block;
		font-size: 1.4rem;
	}
	a {
		color: $tertiary;
		text-decoration: none;
		svg {
			fill: $tertiary;
		}
		&:hover {
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		&.toolbar__bip {
			svg {
				fill: #fff;
			}
			&:hover {
				color: #fff;
				svg {
					fill: $tertiary;
				}
			}
		}
	}
}
.toolbar__links--left {
	vertical-align: middle;
	float: left;
	li {
		&:not(:last-child) {
			margin-right: 18px;
		}
	}
	span {
		margin-left: 5px;
	}
}
.toolbar__links--right {
	float: right;
}
.toolbar__home, .toolbar__sitemap {
	svg {
		transform: translateY(3px);
	}
}
.toolbar__bip {
	transform: translateX(5px) translateY(8px);
}
.toolbar__fonts {
	li {
		margin: 0 1px;
	}
}
.toolbar__contrast {
	width: 20px;
	height: 21px;
	border-radius: 50%;
	margin: 0 34px 0 22px;
	background-color: #37631e;
	transform: translateY(3px);
	svg {
		transform: translateX(-1px); 
	}
}
.toolbar__search {
	width: 237px;
	height: 34px;
	input[type="text"] {
		font-family: 'Titillium', sans-serif;
		transition: color .3s ease-in-out, background-color .3s ease-in-out;
		width: 203px;
		float: left;
	}
	button {
		float: left;
		width: 34px;
		height: 34px;
		cursor: pointer;
		background-color: $tertiary;
		border: 1px solid $tertiary;
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
		svg {
			transform: translateY(3px);
			fill: $primary;
		}
		&:hover {
			background-color: $primary;
			svg {
				fill: $tertiary;
			}
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.toolbar__holder {
		.col-xs-12 {
			padding: 0;
		}
	}
}
@media only screen and (max-width: 991px) {
	.toolbar__holder {
		width: 100%;
	}
	.toolbar {
		width: calc(100% + 30px);
		transform: translateX(-15px);
		margin-top: 51px;
	}
	.toolbar__links {
		.toolbar__fonts {
			display: none;
		}
	}
}
@media only screen and (max-width: 767px) {
	.toolbar {
		padding-left: 15px;
		padding-right: 15px;
	}
	.toolbar__home {
		font-size: 0;
	}
}
@media only screen and (max-width: 639px) {
	.toolbar__links--left {
		li {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	.toolbar__search {
		width: 34px;
		position: relative;
		&.shown {
			input[type="text"] {
				opacity: 1;
				width: 203px;
			}
		}
		input[type="text"] {
			pointer-events: none;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 0;
			right: 34px;
		}
	}
	.toolbar__contrast {
		margin: 0 15px 0 0;
	}
}