html, body {
	margin: 0; padding: 0; 
	min-width: 320px; 
	font-family: 'Titillium', sans-serif;
	font-weight: 400;
	color: $base; 
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 62.5%;
}
body {
	background-color: rgba(83,140,51,0.5);
	background-image: url('../images/background.png');
	background-repeat: repeat;
	font-size: 1.4rem; 
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 225px;
		background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(83,140,51,0) 100%);
		background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(83,140,51,0) 100%);
		background: -ms-linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(83,140,51,0) 100%);
		background: -o-linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(83,140,51,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(83,140,51,0) 100%);
		pointer-events: none;
	}
}
.page {
	width: 100%;
	position: relative;
	overflow: hidden;
	&:focus {
		outline: 0 !important;
		display: block !important;
	}
}
img {
	max-width: 100%;
}
.label, label {
	white-space: normal;
	text-align: left;
	border-radius: 0;
	line-height: 34px;
	display: inline-block;
}
p, span, a, h2, h3, .jokeNick, .jokeText {
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.dropdown-backdrop {
	display: none;
}
form, fieldset, button {
	margin: 0; 
	background-color: transparent;
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em;
}
input, select, textarea {
	font-size: 1.3rem; 
	font-family: 'Titillium', sans-serif;
	outline: none;
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
table {
	width: 100%; 
	margin: 10px 0;
	table-layout: fixed;
	border-collapse: collapse; 
	caption {
		font-family: 'Titillium SemiBold', sans-serif;
	}
	th, td {
		padding: 5px;
		border: 1px solid $primary;
	}
	th {
		background-color: $secondary;
		color: $tertiary;
	}
}
svg, button {
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
a {
	display: inline-block;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
	color: $primary;
	&:hover, &:focus {
		color: currentColor;
	}
	&:focus, &:visited, &:active {
		text-decoration: none;
		outline-width: 0 !important;
	}
	&[href^="mailto:"] {
		word-break: break-all;
		color: $base;
		span {
			color: $base;
		}
	}
	&#main-menu, &#add-menu, &#link-content, &#search {
		display: inline;
	}
}
.skip-links {
    position: absolute;
    top: 0;
	a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    min-width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
	}
	a {
		&:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active {
	    	font-family: 'Titillium SemiBold', sans-serif;
		    left: 0;
		    background-color: $base;
		    border: 2px solid #fff;
		    color: #fff;
		    opacity: 1;
		    outline: none;
		}
	}
}
[data-whatinput='keyboard'] *:focus {
	outline: 2px solid #000 !important;
	outline-offset: 0 !important;
	display: inline-block;
	opacity: 1 !important;
}

[data-whatinput="keyboard"] .page:focus {
  	outline: 0 !important;
}

[data-whatinput='keyboard'] input[type="radio"]:focus {
	outline: 2px solid #000 !important;
}
input[type="radio"] {
	&:focus {
		outline-color: #000;
	}
}
a, button, .menu-top .navbar-toggl, .dropdown-toggle {
	&:focus {
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: 0;
	}
}
.butForm, button:not(#toolbar-search):not(.navbar-toggle), input[type="submit"], .button {
	font-family: 'Roboto Slab Bold', serif;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
	font-size: 1.6rem;
	line-height: 20px;
	padding: 7px 26px;
	text-align: center;
	border: 0;
	border-radius: 0;
	position: relative;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0, 0.2); 
	background-color: $tertiary;
	color: $primary !important;
	text-decoration: none !important;
	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		fill: $primary;
	}
	&.inverted {
		color: $tertiary !important;
		text-decoration: none !important;
		background-color: $primary;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.6);
		svg {
			fill: $tertiary;
		}
		&:hover {
			background-color: $primary + #222;
		}
	}
	&:hover {
		text-decoration: none;
		background-color: $tertiary + #222;
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab Bold', serif;
	color: $secondary;
}
h4, h5, h6 {
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}
h2 {
	font-size: 2.2rem;
	line-height: 26px;
}
h3 {
	font-size: 2.1rem;
	line-height: 24px;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}
div[aria-hidden="true"] {
    display: inline;
}
.main-text {
	a {
		color: $primary;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.page-content-mobile, a#top, #flashclock {
	display: none;
}
.files-header,
.gallery-header,
.subHead,
.main-header {
	display: block;
	text-align: center;
	position: relative;
	color: $secondary;
	font-family: 'Roboto Slab Bold', sans-serif;
	span {
		position: relative;
		z-index: 2;
		display: inline-block;
		background-color: #fff;
		padding: 0 45px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 5px;
		width: 100%;
		background-color: $primary;
		top: 50%;
		transform: translateY(-50%);
	}
}
.main-header, .subHead {
	font-size: 3.8rem !important;
	line-height: 42px !important;
}
.main-header {
	margin: 0 0 25px;
}
.subHead {
	margin: 0 0 15px;
}
.files-header,
.gallery-header,
.subHead {
	font-size: 2.2rem !important;
	line-height: 26px !important;
	margin: 0 0 30px;
	&:before {
		left: 0;
		transform: none;
	}
}
input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
input[type="text"],
input[type="search"],
input[type="password"],
textarea {
	color: #56684d;
	background-color: #fbfff8;
	border: 0;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
}
input[type="text"],
input[type="search"],
input[type="password"] {
	height: 34px;
	padding: 0 11px;
	line-height: 34px;
}

textarea {
	resize: none;
	line-height: 18px;
	padding: 11px;
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
.main {
	position: relative;
	background-color: #fff;
}
blockquote {
	padding: 0 0 0 10px;
	margin: 0;
	border-left: 3px solid $base;
	font-size: 1.4rem;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .menu-top__decoration { 
   		width: 132px;
   		height: 48px;
    }
}
@media only screen and (min-width: 992px) {
	.bottom-holder {
		font-size: 0;
	}
	.page-content {
		margin-top: 45px;
	}
	.main {
		margin: 30px 0 0;
		padding: 0 25px 50px 15px;
		border: 5px solid $tertiary;
		border-left-width: 0;
		border-bottom-width: 0;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			width: calc(100% - 24px);
			background-color: #fff;
			height: 29px;
			border-top: 5px solid $tertiary;
			border-right: 5px solid $tertiary;
			left: 29px;
			top: -29px;
			right: 0;
		}
		&:after {
			width: 5px;
			left: -5px;
			bottom: 0;
			height: 100%;
			background-color: $tertiary;
		}
	}
	.main__decoration {
		position: absolute;
		top: -29px;
		left: 0;
		width: 29px;
		height: 29px;
		overflow: hidden;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			box-sizing: content-box;
			width: 58px;
			height: 58px;
			border-radius: 50%;
			left: 0;
			transform: translateX(-50%);
			top: -74px;
			border: 40px solid #fff;
			background: transparent;
		}
		&:after {
			border-radius: 50%;
			width: 58px;
			height: 58px;
			right: 0;
			top: -29px;
			border: 5px solid $tertiary;
		}
	}
}
.main__object {
	position: absolute;
	right: -61px;
	bottom: -107px;
}
@media only screen and (min-width: 1200px) {
	.main {
		width: 878px;
	}
}
@media only screen and (max-width: 1199px) {
	.files-header,
	.gallery-header,
	.subHead,
	.main-header {
		margin-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
    	font-size: 56.25%;
    }
	.top {
		width: calc(100% + 30px);
		transform: translateX(-15px);
	}
	.bottom-holder {
		padding: 0;
		width: calc(100% + 1px);
	}
	.main {
		width: 728px;
	}
	.main__object {
		right: -78px;
	}
}
@media only screen and (max-width: 991px) {
	.main__object {
		display: none;
	}
	.page-content {
		padding: 0;
	}
	.page-content-mobile {
		display: block;
		& > .container {
			width: 100%;
			& > .row {
				& > .col-xs-12 {
					padding: 0;
				}
			}
		}
	}
	.page {
		& > .container {
			width: 100%;
			& > .row {
				& > .col-xs-12 {
					position: static;
				}
			}
		}
	}
	.main {
		height: auto !important;
		padding-bottom: 25px !important;
		display: none;
	}
}
@media only screen and (max-width: 767px) {
    .table-responsive {
    	border: 0;
    }
    .main-header, .subHead {
        font-size: 2.8rem !important; 
        line-height: 32px !important;
    }
	.files-header, .gallery-header, .subHead, .main-header {
		span {
			padding: 0 15px;
		}
	}
}