$base: #505050;
$primary: #538c33;
$primary-2: #558838;
$secondary: #346817;
$tertiary: #ffd200;

@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}